<html lang="zh-cmn-Hans" class="ua-windows ua-webkit"><head><script src="https://www.douban.com/j/doumail/num?callback=jsonp_gnhtkdvdq55muja" async=""></script><script src="https://www.douban.com/j/notification/num?callback=jsonp_tf2uf74nwc82g0x" async=""></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>

哪吒之魔童降世 短评
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="哪吒之魔童降世,影讯,排片,放映时间,电影票价,在线购票">
    <meta name="description" content="哪吒之魔童降世短评">
    <meta name="mobile-agent" content="format=html5; url=http://m.douban.com/movie/subject/26794435/comments">
    <script type="text/javascript" defer="" async="" src="https://img3.doubanio.com/dae/fundin/piwik.js"></script><script type="text/javascript" src="//img1.doubanio.com/YXhxazN0ei9mL2FkanMvN2JmMDcyOGVlOGJjNGNlNWRkZTkxNjk2NTA4YmMxOTMzOTdiOGNjZS9hZC5yZWxlYXNlLmpz" async="true"></script><script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/52c9997d6d42db58eab418e976a14d5f3eff981e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/1316664523258f7b8b536e4ce45afc9cb37b8963/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/27219466152855d9.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
<script src="https://ssl.google-analytics.com/ga.js" async="true"></script></head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>守护兽兽的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&amp;ck=AXRF">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;203701160&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;203701160&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;203701160&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;203701160&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;203701160&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;203701160&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;203701160&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com/?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;203701160&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆品</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "203701160",
    UPLOAD_AUTH_TOKEN: "203701160:2199e65e46c0721346a53a0f92cd51bc26d188c1",
    SSE_TOKEN: "c83876ba7ac024e77a6d88a1767a7eaf167ba50e",
    SSE_TIMESTAMP: "1568259398",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https://movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value="" autocomplete="off"></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002">
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li><a href="https://movie.douban.com/mine">我看</a>
    </li>
    <li><a href="https://movie.douban.com/cinema/nowplaying/">影讯&amp;购票</a>
    </li>
    <li><a href="https://movie.douban.com/explore">选电影</a>
    </li>
    <li><a href="https://movie.douban.com/tv/">电视剧</a>
    </li>
    <li><a href="https://movie.douban.com/chart">排行榜</a>
    </li>
    <li><a href="https://movie.douban.com/tag/">分类</a>
    </li>
    <li><a href="https://movie.douban.com/review/best/">影评</a>
    </li>
    <li><a href="https://movie.douban.com/annual/2018?source=navigation">2018年度榜单</a>
    </li>
    <li><a href="https://www.douban.com/standbyme/2018?source=navigation">2018书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2018?source=movie_navigation" class="movieannual2018"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>哪吒之魔童降世 短评</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    



<div class="clearfix Comments-hd">
    <ul class="fleft CommentTabs">
            <li class="is-active">
                <span>看过(363636)</span>
            </li>

            <li>
                <a href="?status=F">想看(11162)</a>
            </li>
    </ul>
    <div class="fright">
        
        <a href="javascript:;" class="comment_btn j a_collect_btn" name="cbtn-26794435">我来写短评</a>
    </div>
</div>

    
    
    <div class="title_line clearfix color_gray">
        <div class="fleft Comments-sortby">
                <span>热门</span>
                    <a href="?sort=time&amp;status=P">最新</a>
            <a href="follows_comments?status=P">好友</a>
        </div>
    </div>

    <div class="comment-filter">
        <label>
            <input type="radio" name="sort" value="" checked="checked"><span class="filter-name">全部</span><span class="comment-percent"></span>
        </label>
        <label>
            <input type="radio" name="sort" value="h"><span class="filter-name">好评</span><span class="comment-percent">85%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="m"><span class="filter-name">一般</span><span class="comment-percent">10%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="l"><span class="filter-name">差评</span><span class="comment-percent">5%</span>
        </label>
    </div>

    <div class="mod-bd" id="comments">
        







    
        
        <div class="comment-item" data-cid="1870219372">
            
    
        <div class="avatar">
            <a title="二姑不让我乱起" href="https://www.douban.com/people/163549544/">
                <img src="https://img3.doubanio.com/icon/u163549544-1.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">60</span>
                <input value="1870219372" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/163549544/" class="">二姑不让我乱起</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-22 03:58:57">
                    2019-07-22
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">没人看出这是火影忍者剧场版之鸣人转世再续佐白龙羁绊传？</span>
                
                <a class="source-icon" href="https://www.douban.com/doubanapp/" target="_blank"><img src="https://img3.doubanio.com/f/shire/c541f3cbc321589b29d7c7b6d00e620243f224d9/pics/comment/iphone.png" title="发自iPhone" alt="iPhone" rel="v:image"></a>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1869630860">
            
    
        <div class="avatar">
            <a title="saintdump" href="https://www.douban.com/people/saintdump/">
                <img src="https://img1.doubanio.com/icon/u2905380-9.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">11</span>
                <input value="1869630860" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/saintdump/" class="">saintdump</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-21 20:11:11">
                    2019-07-21
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">3.5/5。很有意思，“改剧本”成为银幕内外双重的指涉，哪吒的典故被注入邪、丧、敏感的人格特质，对新的观众重塑新的神话偶像，类似漫威雷神之于索尔。有个时刻我认为要向父权开炮了，但没有，和白蛇一样，调转枪口，对准“愚民”的成见，权力是隐含在人情关系中的，是亲情和友情，成为赋予情节合法性的动力，真心为你，让“不认命”的燃，在中国式权力语境内，有了悲壮的内核。尽管有诸多超英片的影子，但高水准的制作（神笔马良式的奇观，还是运动主观镜头），让人感到年轻创作的商业野心，就能用网游画风做出A级效果，包括插科打诨和彩蛋。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1903555826">
            
    
        <div class="avatar">
            <a title="汪金卫" href="https://www.douban.com/people/longzheking/">
                <img src="https://img3.doubanio.com/icon/u4285566-30.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">9</span>
                <input value="1903555826" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/longzheking/" class="">汪金卫</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-08-12 06:07:39">
                    2019-08-12
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">剧情中规中矩，但细节丰富诚意十足。歌颂自由反叛的精神、弘扬“主体思想”、批判愚民种族偏见，还致敬恶搞《终结者2》（音乐有买版权？）及周星驰喜剧。角色性格丰富饱满，动作戏分镜设计很用心，这两点就比其他国产动画强。再加上不露怯的CG水准，确实值得鼓励。相比催泪煽情的亲情戏，最让我感动的角色却是被刻意安排扮丑的太乙真人。在哪吒缺失父爱、孤独迷茫的时候，他用师父的关怀和教导陪伴哪吒成长，甚至为他造了个独家“迪士尼乐园”陪他玩，最后也牺牲了修行。缺点：低俗笑料过多，哪吒熊孩子设定很讨人厌，黑化转折太快，片尾彩蛋拖沓。反复出现的胡茬娘炮男不仅不好笑，甚至有过度消费的恶心感。无论技术还是剧情内涵理念，国产动画还有很长的路要走。三星半</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1866223277">
            
    
        <div class="avatar">
            <a title="Xaviera" href="https://www.douban.com/people/48953772/">
                <img src="https://img3.doubanio.com/icon/u48953772-16.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">39</span>
                <input value="1866223277" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/48953772/" class="">Xaviera</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-19 13:52:09">
                    2019-07-19
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">不废话，打算二刷IMAX了，比《大圣归来》还要好看！剧本虽然看着套路，但写得工整又有梗，你已经够熟悉这个故事了，它却选择打破重建，最重要的是在大圣觉得遗憾的最后决战高潮戏，这部简直爽到了！龙的毛发和水还能感受到动画人的倔强，真心希望票房好一点再好一点，能来个第二部开发一下宇宙（虽然导演说还没想好）~但另外一部《姜子牙》看了预告也非常想看了！</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1869022251">
            
    
        <div class="avatar">
            <a title="rune1121" href="https://www.douban.com/people/41036146/">
                <img src="https://img3.doubanio.com/icon/u41036146-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">78</span>
                <input value="1869022251" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/41036146/" class="">rune1121</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-21 13:10:49">
                    2019-07-21
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">国漫的标准不是，我靠，这片真好看经典，而是我靠，国漫也还可以看，崛起了！！！为什么国漫这么多年一直是在崛起，却始终没有真正起来，环境当然是关键原因，也离不开观众的捧杀。还有为什么喜欢这种奇葩的人设，不古不今不中不西，因为建模好建吗？</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1879881053">
            
    
        <div class="avatar">
            <a title="每日可爱二百人" href="https://www.douban.com/people/50619020/">
                <img src="https://img1.doubanio.com/icon/u50619020-267.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">15</span>
                <input value="1879881053" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/50619020/" class="">每日可爱二百人</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-28 19:56:57">
                    2019-07-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">好看，技术过关。但可以挖掘的深度没挖够，哪吒有点浅，同样要承受孤独与命运不公的敖丙也刻画得有点浅。而且太像是日本或者美国（更像美国）电影了，跟《功夫熊猫》或《花木兰》似的，中国元素只是点缀，而所有的国仇家恨悲剧宿命都化为了个人成长。个人成长没什么不好，只是看多了有点无聊。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1876197851">
            
    
        <div class="avatar">
            <a title="瑞波恩" href="https://www.douban.com/people/39690610/">
                <img src="https://img3.doubanio.com/icon/u39690610-4.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">20</span>
                <input value="1876197851" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/39690610/" class="">瑞波恩</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-26 15:54:46">
                    2019-07-26
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">五星鼓励吧，不能说毫无遗憾，或什么国漫巅峰之作的大话，但论画风论诚意论剧情论立意与整体感觉，都是国漫近年来难得一见的精品。哪吒的人生本来就是不认命的人生，要与厄运对抗义无反顾。看得出饺子是有实力与想法的青年导演，不落俗套的大胆改编，天马行空的想象力殊为可贵，期待他未来的发展。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1876098781">
            
    
        <div class="avatar">
            <a title="思郁" href="https://www.douban.com/people/ygy8245/">
                <img src="https://img3.doubanio.com/icon/u1042441-31.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">12</span>
                <input value="1876098781" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/ygy8245/" class="">思郁</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-26 14:44:59">
                    2019-07-26
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">国产动画能做到这种程度确实不错，唯一的瑕疵在台词上，动不动就想蹭网络段子和笑话，容易出戏。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1866825420">
            
    
        <div class="avatar">
            <a title="津 五 渡" href="https://www.douban.com/people/jinwudu/">
                <img src="https://img3.doubanio.com/icon/u51783252-54.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">24</span>
                <input value="1866825420" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/jinwudu/" class="">津 五 渡</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-19 22:20:51">
                    2019-07-19
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">3D差评！算是比较成功的改编了，增加了喜剧元素，画面炸裂制作精良，剧本上有颠覆，改动虽然不小，但基本遵循了原本传说的内涵。这些细枝末节的改动和填充，并没有什么，甚至还使得故事更加饱满，但是最不满意的地方就是父子关系的转变，可以说本片洗白了“父权”，哪吒由“割骨还父割肉还母”的决绝变成了“我命由我不由天”的决绝，这里面的力量是不一样的，只能说这个改编更适应时代。另外就是画风稍微有点丑，但并无大碍，看习惯了觉得哪吒丑帅丑帅的。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1865395492">
            
    
        <div class="avatar">
            <a title="梁州" href="https://www.douban.com/people/147608251/">
                <img src="https://img3.doubanio.com/icon/u147608251-15.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">28</span>
                <input value="1865395492" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/147608251/" class="">梁州</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-18 20:47:43">
                    2019-07-18
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">去你的鸟命，我命由我不由天，是魔是仙，由我说了算。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1865782156">
            
    
        <div class="avatar">
            <a title="RUNE" href="https://www.douban.com/people/152799682/">
                <img src="https://img1.doubanio.com/icon/u152799682-38.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">22</span>
                <input value="1865782156" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/152799682/" class="">RUNE</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-19 01:37:13">
                    2019-07-19
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">泼个冷水，“哪吒”的模式其实还蛮网文的，穿插着各种不合时宜的现代烂俗梗，尤其是在各种隐藏“大战”（封神战）、“等级”、“技能”术语悄然而过的瞬间，就令我不止一次地回想起无数个躲在被窝里偷看网络小说的夜晚，可惜现在早已不是这种年纪。“哪吒”的技术固然是无可挑剔的，然而故事略中二，深度如爽文，人物看似反传统，但其实又套路得可怜，逆天改命这种写烂了的东西大家是看得太少吗？就不要去妄想什么暗黑神话颠覆改编了，一切都是为了服务“画面”二字。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1882443225">
            
    
        <div class="avatar">
            <a title="睡觉是头等大事" href="https://www.douban.com/people/jeffersontang/">
                <img src="https://img1.doubanio.com/icon/u51818484-108.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">10</span>
                <input value="1882443225" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/jeffersontang/" class="">睡觉是头等大事</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-30 11:47:00">
                    2019-07-30
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">1：首先野心很大，映前预告和第二个彩蛋姜子牙都出来了，很明显下着一盘大棋；
2：分镜手法上用了很多无厘头搞笑梗，也更年青化了，这是比之《白蛇》、《大圣》、《风语咒》更接地气（商业化）的地方；3：改编颇大，没有闹海、没有割肉拆骨、没有斗杀三太子抽筋，哪吒、太乙、申公豹、敖丙、李靖夫妻、所有的角色颠覆很大，内核是【破除成见+自己掌控命运】，非常接地气，光是那句“我命由我不由天”就中了太多痛点，能圈粉不少；4：国漫崛起？我这几年听了至少4次国漫要崛起了，上一次还是《白蛇缘起》。谈崛起，起码要从横向或是纵向比较，能有《大闹天宫》这样在亚洲动漫的影响力？好歹《流浪地球》对比的中国科幻史大片空白的历史才谈得上科幻片的崛起；5：是部非常好的国漫，商业上会很成功。去影院支持物超所值！我很期待后续的封神宇宙系</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1858438223">
            
    
        <div class="avatar">
            <a title="迦南Canaan" href="https://www.douban.com/people/CanaanYoung/">
                <img src="https://img3.doubanio.com/icon/u73496903-14.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">21</span>
                <input value="1858438223" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/CanaanYoung/" class="">迦南Canaan</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-28 21:06:20">
                    2019-07-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">闲笔太多</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1876065925">
            
    
        <div class="avatar">
            <a title="倒带" href="https://www.douban.com/people/1892627/">
                <img src="https://img3.doubanio.com/icon/u1892627-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">49</span>
                <input value="1876065925" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/1892627/" class="">倒带</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-07-26 14:19:58">
                    2019-07-26
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">你说他低龄向吧，我身边的娃儿中途直接被他爸带出影院；你说他成人漫吧，各种低段位笑料、勇于做自己的主题都是老梗。最不能忍的是画风的粗糙和动作设计的低质，感觉缺钱。片尾多彩蛋设计也是对漫威的拿来主义。满屏赞爆的请去看日漫。地下龙宫和双人合体部分做的还可以。整体观感：丑、糙、土。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1879496557">
            
    
        <div class="avatar">
            <a title="Laputa" href="https://www.douban.com/people/liuhailong/">
                <img src="https://img3.doubanio.com/icon/u28428473-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">13</span>
                <input value="1879496557" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/liuhailong/" class="">Laputa</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-28 15:53:40">
                    2019-07-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">很娴熟的商业片，反面人物的塑造也细腻丰满，很难得。鸡蛋里挑骨头：动作场面过多了些，看着累，周星驰式的悲情喜剧元素太老套，核心价值观延续大圣归来，略显简单生硬。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1876529100">
            
    
        <div class="avatar">
            <a title="701" href="https://www.douban.com/people/Morris-Q/">
                <img src="https://img3.doubanio.com/icon/u45287181-145.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">24</span>
                <input value="1876529100" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/Morris-Q/" class="">701</a>
                    <span>看过</span>
                <span class="comment-time " title="2019-07-26 20:21:13">
                    2019-07-26
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">假的嘞</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1877969146">
            
    
        <div class="avatar">
            <a title="余小岛" href="https://www.douban.com/people/missixyujun/">
                <img src="https://img3.doubanio.com/icon/u55323010-42.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">6</span>
                <input value="1877969146" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/missixyujun/" class="">余小岛</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-27 18:16:39">
                    2019-07-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">好看，但不喜欢。好看在于制作精良，细节到位，有老港片的味道。但还是不喜欢这个哪吒的改编。弑父的哪吒变成因为父爱找到自我，他最大的敌人竟然变成了世人的眼光？差了点意思。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1867923057">
            
    
        <div class="avatar">
            <a title="proustalain" href="https://www.douban.com/people/spiky1920/">
                <img src="https://img1.doubanio.com/icon/u128956983-17.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">14</span>
                <input value="1867923057" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/spiky1920/" class="">proustalain</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-20 18:23:36">
                    2019-07-20
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">其实主题还蛮直白老套的，虽然禁不起事后咂摸，好在剧作落地后的呈现效果藏拙成功，观影过程中节奏一直被推着走几乎来不及察觉这些瑕疵，倒是不错的寓教于乐方式。
（父子情令我眼角滑落一滴眼泪（（期待封神大IP</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1884504328">
            
    
        <div class="avatar">
            <a title="深邃" href="https://www.douban.com/people/80075921/">
                <img src="https://img1.doubanio.com/icon/u80075921-7.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">26</span>
                <input value="1884504328" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/80075921/" class="">深邃</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-31 17:28:21">
                    2019-07-31
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">价值观表达处理不好，上限就在那儿了。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1864119575">
            
    
        <div class="avatar">
            <a title="渡口无边" href="https://www.douban.com/people/particles/">
                <img src="https://img3.doubanio.com/icon/u50386362-52.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">39</span>
                <input value="1864119575" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/particles/" class="">渡口无边</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-17 21:20:02">
                    2019-07-17
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">剧作内核和画面都比大圣归来高。真正执笔于哪吒内心，在善恶、家庭、成长和人心上都能找到自洽的落点，童年成长所积压的情绪，在最后一战中迸发释放，让人燃到飙泪。改编颇具想象力，对世界观的构建（续集的伏笔）也下足功夫。分裂的是，本应“暗黑风”的基调从始至终都塞满不间断的现代语境的恶俗冷笑话，在观感上屡次让人出戏之外，还给调度和节奏带来些许影响。总体瑕不掩瑜，它可能是国漫真正崛起的一道分水岭。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>






        <div id="paginator" class="center">
                <a href="?start=0&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="1">&lt;&lt; 首页</a>
                <a href="?start=219&amp;limit=-20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="">&lt; 前页</a>
                <a href="?start=240&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="" class="next">后页 &gt;</a>
        </div>



<script type="text/javascript" src="https://img3.doubanio.com/f/shire/a14501790b4a2db257dc5be5e37d820e600703c6/js/report_dialog.js"></script>
<link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/b45aa277f8b8df40596b96582dafb1ed0a899a64/css/report_dialog.css">




        
        
    </div>

            </div>
            <div class="aside">
                

    
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/26794435/">去 哪吒之魔童降世 的页面</a></p>

    <div class="indent">
        









<div class="movie-summary">
        <div class="movie-pic"><a href="https://movie.douban.com/subject/26794435/"><img alt="哪吒之魔童降世" title="哪吒之魔童降世" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2563780504.webp" rel="v:image" width="100px"></a></div>
    <span class="attrs">
        
            
        <p>
            <span class="pl">导演:</span>
                <a href="https://movie.douban.com/celebrity/1328441/">饺子</a>
        </p>

        
            
        <p>
            <span class="pl">主演:</span>
                <a href="https://movie.douban.com/celebrity/1419996/">吕艳婷</a> / <a href="https://movie.douban.com/celebrity/1400125/">囧森瑟夫</a> / <a href="https://movie.douban.com/celebrity/1400124/">瀚墨</a> / <a href="https://movie.douban.com/celebrity/1329520/">陈浩</a> / <a href="https://movie.douban.com/celebrity/1372724/">绿绮</a> / <a href="https://movie.douban.com/celebrity/1420051/">张珈铭</a> / <a href="https://movie.douban.com/celebrity/1419997/">杨卫</a> / <a href="https://movie.douban.com/celebrity/1420965/">何禹祥</a> / <a href="https://movie.douban.com/celebrity/1420966/">任俊鹏</a> / <a href="https://movie.douban.com/celebrity/1422645/">刘霖竺</a> / <a href="https://movie.douban.com/celebrity/1422644/">大海</a> / <a href="https://movie.douban.com/celebrity/1422643/">陶渊</a> / <a href="https://movie.douban.com/celebrity/1422039/">李南</a> / <a href="https://movie.douban.com/celebrity/1421280/">杏林儿</a> / <a href="https://movie.douban.com/celebrity/1422697/">雨辰</a>
        </p>

        
            
        <p>
            <span class="pl">类型:</span>
                剧情, 喜剧, 动画, 奇幻
        </p>

        
            
        <p>
            <span class="pl">地区:</span>
                中国大陆
        </p>

        
            
        <p>
            <span class="pl">片长:</span>
                110分钟
        </p>

        
            
        <p>
            <span class="pl">上映:</span>
                2019-07-13(大规模点映), 2019-07-26(中国大陆)
        </p>

        <a class="trail_link" data-trailer-id="250477" href="https://movie.douban.com/trailer/250477/#content">预告片</a>
    </span>
</div>



    </div>
    <div id="dale_movie_subject_comments_bottom_right" ad-status="loaded"></div>
    <a href="https://help.douban.com/blackroom">&gt; 豆瓣违规公示</a>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    © 2005－2019 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/6800f05b59a0f0b4.js"></script><script type="text/javascript">

        $.each($("#comments:not('.sns-comments') .comment-item ".concat('.comment')), function(i, el){
            if ($(el).find(".comment-report").length==0){
              $(el).append('<div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div>');
            }
        });

        $('#comments').on('click', '.a_vote_comment',function(e){
            e.stopImmediatePropagation()
            var is_released = true,
                txt_released = "该电影还未上映，不能投票噢";

            if(!is_released && "P" === 'P') {
                alert(txt_released)
                return
            }
            var v = $(this).prev().prev(), id = $(this).prev().val();
            $.postJSON_withck('/j/comment/vote', {id: id}, function(r){
                if (r.r === 0 && r.count) {
                    v.text(r.count);
                } else if (r.r === 1) {
                    alert(r.msg);
                }
            })
        });

        window.percent_type = "";
        window.page_start = 220;
        window.page_limit = 20;
        window.page_status = "P";
        window.page_sort = "new_score";
        window.lastCommentsXhr = null;

        $(".comment-filter input[type='radio']").click(function(e){
            if($(this).val() === window.percent_type) return;
            if($('.comment-filter').data('doing')) {
                e.preventDefault();
                return;
            };

            window.percent_type = $(this).val();
            window.page_start = 0;
            updateUrl();

            $('.comment-filter').data('doing', true);
            $("#comments").html('<div class="comment-loading">载入中...</div>');
            $('#comments .comment-item').remove();

            updateComments();
        });

        $('#comments').delegate('#paginator a', 'click', function(e){
            e.preventDefault();

            if($(this).text().indexOf('首') !== -1){
                window.page_start = 0;
            }else if($(this).text().indexOf('前') !== -1){
                window.page_start -= window.page_limit;
            }else{
                window.page_start += window.page_limit;
            }

            window.page_start = window.page_start < 0 ? 0 : window.page_start;

            updateUrl();

            $('.comment-filter').data('doing');
            $("#comments").html('<div class="comment-loading">载入中...</div>');

            updateComments();
        });

        function updateComments(){
            window.lastCommentsXhr && window.lastCommentsXhr.abort();
            var url = '/subject/26794435/comments' + createUrlSearch() + '&comments_only=1';
            window.lastCommentsXhr = $.get(url, function(res){
                if(res.r === 0){
                    $("#comments").html(res.html);
                    $('.comment-filter').removeData('doing');
                    $('.comment-filter').get(0).scrollIntoViewIfNeeded();
                }
            })
        }

        function createPageState(){
            return {
                percent_type: window.percent_type,
                start: window.page_start,
                limit: window.page_limit,
                sort: window.page_sort,
                status: window.page_status
            }
        }

        function createUrlSearch(){
            return '?start=' + window.page_start + '&limit=' + window.page_limit + '&sort=' + window.page_sort + '&status=' + window.page_status + (window.percent_type ? '&percent_type=' + window.percent_type : '');
        }

        function updateUrl(){
            window.history && window.history.pushState(createPageState(), null, createUrlSearch());
        }

        window.onpopstate = function(e){
            var pageState = e.state;
            window.percent_type = pageState.percent_type;
            window.page_start = pageState.start;
            window.page_limit = pageState.limit;
            window.page_sort = pageState.sort;
            window.page_status = pageState.status;
            $("#comments").html('<div class="comment-loading">载入中...</div>');
            $('.comment-filter input[value="' + window.percent_type + '"]').get(0).checked = true;
            updateComments();
        }
    </script>
    
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '203701160',
            browserId = 'WXbuYGifT8w',
            criteria = '3:/subject/26794435/comments?start=220&amp;limit=20&amp;sort=new_score&amp;status=P',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_comments_bottom_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/YXhxazN0ei9mL2FkanMvN2JmMDcyOGVlOGJjNGNlNWRkZTkxNjk2NTA4YmMxOTMzOTdiOGNjZS9hZC5yZWxlYXNlLmpz');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- fram42-docker-->

  <script>_SPLITTEST=''</script>





<div id="search_suggest" style="display: none; top: 78px; left: 162.4px;"><ul></ul></div></body></html>