<html lang="zh-cmn-Hans" class="ua-windows ua-webkit"><head><script src="https://www.douban.com/j/doumail/num?callback=jsonp_pke69palt7ohukt" async=""></script><script src="https://www.douban.com/j/notification/num?callback=jsonp_w5ofrkdv0h6dcsl" async=""></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>

哪吒之魔童降世 短评
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="哪吒之魔童降世,影讯,排片,放映时间,电影票价,在线购票">
    <meta name="description" content="哪吒之魔童降世短评">
    <meta name="mobile-agent" content="format=html5; url=http://m.douban.com/movie/subject/26794435/comments">
    <script type="text/javascript" defer="" async="" src="https://img3.doubanio.com/dae/fundin/piwik.js"></script><script type="text/javascript" src="//img1.doubanio.com/YXhxazN0ei9mL2FkanMvN2JmMDcyOGVlOGJjNGNlNWRkZTkxNjk2NTA4YmMxOTMzOTdiOGNjZS9hZC5yZWxlYXNlLmpz" async="true"></script><script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/52c9997d6d42db58eab418e976a14d5f3eff981e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/1316664523258f7b8b536e4ce45afc9cb37b8963/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/27219466152855d9.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
<script src="https://ssl.google-analytics.com/ga.js" async="true"></script></head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>守护兽兽的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&amp;ck=AXRF">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;203701160&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;203701160&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;203701160&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;203701160&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;203701160&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;203701160&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;203701160&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com/?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;203701160&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆品</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "203701160",
    UPLOAD_AUTH_TOKEN: "203701160:2199e65e46c0721346a53a0f92cd51bc26d188c1",
    SSE_TOKEN: "11608469bd9f636c96451028fb799b33d108050c",
    SSE_TIMESTAMP: "1568259426",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https://movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value="" autocomplete="off"></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002">
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li><a href="https://movie.douban.com/mine">我看</a>
    </li>
    <li><a href="https://movie.douban.com/cinema/nowplaying/">影讯&amp;购票</a>
    </li>
    <li><a href="https://movie.douban.com/explore">选电影</a>
    </li>
    <li><a href="https://movie.douban.com/tv/">电视剧</a>
    </li>
    <li><a href="https://movie.douban.com/chart">排行榜</a>
    </li>
    <li><a href="https://movie.douban.com/tag/">分类</a>
    </li>
    <li><a href="https://movie.douban.com/review/best/">影评</a>
    </li>
    <li><a href="https://movie.douban.com/annual/2018?source=navigation">2018年度榜单</a>
    </li>
    <li><a href="https://www.douban.com/standbyme/2018?source=navigation">2018书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2018?source=movie_navigation" class="movieannual2018"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>哪吒之魔童降世 短评</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    



<div class="clearfix Comments-hd">
    <ul class="fleft CommentTabs">
            <li class="is-active">
                <span>看过(363636)</span>
            </li>

            <li>
                <a href="?status=F">想看(11162)</a>
            </li>
    </ul>
    <div class="fright">
        
        <a href="javascript:;" class="comment_btn j a_collect_btn" name="cbtn-26794435">我来写短评</a>
    </div>
</div>

    
    
    <div class="title_line clearfix color_gray">
        <div class="fleft Comments-sortby">
                <span>热门</span>
                    <a href="?sort=time&amp;status=P">最新</a>
            <a href="follows_comments?status=P">好友</a>
        </div>
    </div>

    <div class="comment-filter">
        <label>
            <input type="radio" name="sort" value="" checked="checked"><span class="filter-name">全部</span><span class="comment-percent"></span>
        </label>
        <label>
            <input type="radio" name="sort" value="h"><span class="filter-name">好评</span><span class="comment-percent">85%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="m"><span class="filter-name">一般</span><span class="comment-percent">10%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="l"><span class="filter-name">差评</span><span class="comment-percent">5%</span>
        </label>
    </div>

    <div class="mod-bd" id="comments">
        







    
        
        <div class="comment-item" data-cid="1885304044">
            
    
        <div class="avatar">
            <a title="Q。" href="https://www.douban.com/people/airan712/">
                <img src="https://img3.doubanio.com/icon/u2492362-171.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">9</span>
                <input value="1885304044" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/airan712/" class="">Q。</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-08-01 08:47:52">
                    2019-08-01
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">看得出进步明显的动画制作，但故事设计与并不好笑段子堆砌还是不免使人尴尬。★ ★ ★</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1860242505">
            
    
        <div class="avatar">
            <a title="二火山" href="https://www.douban.com/people/51016659/">
                <img src="https://img3.doubanio.com/icon/u51016659-30.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">21</span>
                <input value="1860242505" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/51016659/" class="">二火山</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-14 21:30:21">
                    2019-07-14
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">哪吒之风云必胜，内核对应了雄霸那句“老夫要逆天改命”。这类国产动画终于能按电影的节奏讲好一个故事了，哪吒和敖丙的CP分明参考的就是鸣人和佐助啊，特别好，磕定了。尬着尬着就笑了，国产动画第一次直白地出现了熊gay。这部铺了这么多，想做封神宇宙的话也别三部曲了，根本讲不完，就学漫威那样拍上十部吧！</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1877840149">
            
    
        <div class="avatar">
            <a title="Patrick/小白" href="https://www.douban.com/people/acepatrick/">
                <img src="https://img1.doubanio.com/icon/u2963943-9.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">6</span>
                <input value="1877840149" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/acepatrick/" class="">Patrick/小白</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-27 16:52:52">
                    2019-07-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">拍得gay里gay气的</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1868105226">
            
    
        <div class="avatar">
            <a title="Philia" href="https://www.douban.com/people/philia-li/">
                <img src="https://img3.doubanio.com/icon/u2543203-470.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">12</span>
                <input value="1868105226" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/philia-li/" class="">Philia</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-20 20:46:54">
                    2019-07-20
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">对于喜爱79版《哪吒闹海》的观众来说，魔童的形象必定是极为另类的。但与其说它是一种颠覆，不如说它是一道补充，尤其是哪吒与李靖、敖丙的扩写，都在传递中华文化的价值取向：奉献与担当，以及更重要的“我命由我不由天”。它不仅是一部神话动画，也是一部亲子电影，还是一部教育电影片。片中一些刻意的搞笑我不喜欢（娘娘腔等），但李靖人设我非常可以，所以打平。值得指出的还有，人民这一符号在魔童这里是非常有意思的：一方面，人民是他疯魔的外在诱因，另一方面却也成了自我的尺度。更加富有政治意味的则是龙族归顺天庭和申公豹意欲封神。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1880499162">
            
    
        <div class="avatar">
            <a title="躲猫猫社社长" href="https://www.douban.com/people/XI123/">
                <img src="https://img3.doubanio.com/icon/u3051842-11.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">18</span>
                <input value="1880499162" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/XI123/" class="">躲猫猫社社长</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2019-08-02 23:51:18">
                    2019-08-02
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">这故事让我生理不适。天劫不就是民主自由现代化么？绝代双骄这种手动阻止大洪水的行为我是不服气的。不把爹娘宰了恩断义绝滚你妈蛋的哪吒还是哪吒么？不是。所以fuck off。（是，我是脑残。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1874386727">
            
    
        <div class="avatar">
            <a title="嘟角獣" href="https://www.douban.com/people/summersunshine2/">
                <img src="https://img3.doubanio.com/icon/u51384127-12.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">10</span>
                <input value="1874386727" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/summersunshine2/" class="">嘟角獣</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-25 10:06:18">
                    2019-07-25
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">难道不觉得尴尬吗？</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1884221947">
            
    
        <div class="avatar">
            <a title="l>o<l" href="https://www.douban.com/people/auess/">
                <img src="https://img1.doubanio.com/icon/u1379431-179.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">7</span>
                <input value="1884221947" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/auess/" class="">l&gt;o&lt;l</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-07-31 13:56:26">
                    2019-07-31
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">吹过头了</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1882678703">
            
    
        <div class="avatar">
            <a title="老羊" href="https://www.douban.com/people/62496308/">
                <img src="https://img3.doubanio.com/icon/u62496308-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">4</span>
                <input value="1882678703" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/62496308/" class="">老羊</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-30 14:36:07">
                    2019-07-30
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">这剧本改的、改得、改地....真是充满迎合少年的气息啊！当然，编剧不是为了鼓励什么，也不会是反抗旧的XX和黑暗什么的，因为还没吃那么饱！  只有一个目的：为了少年们的支付宝、微信转账！   让哪吒给你一个看片的理由吧，激情的你们啊！</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1876395299">
            
    
        <div class="avatar">
            <a title="氯化银沉淀" href="https://www.douban.com/people/163898186/">
                <img src="https://img3.doubanio.com/icon/u163898186-11.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">13</span>
                <input value="1876395299" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/163898186/" class="">氯化银沉淀</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-26 18:28:09">
                    2019-07-26
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">【C】作为一部低幼向的动画，不要求台词多高深，只希望不要太烂俗，网络段子式的人物对话不可取。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1865539960">
            
    
        <div class="avatar">
            <a title="老罗Lazzaro" href="https://www.douban.com/people/lazzaro/">
                <img src="https://img1.doubanio.com/icon/u52337061-7.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">10</span>
                <input value="1865539960" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/lazzaro/" class="">老罗Lazzaro</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-18 22:32:44">
                    2019-07-18
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">点映。画风似《白蛇》，哪吒和龙宫反形象暗黑设计加分，角色立体有魂，动作流畅丰富，彩蛋还埋续作伏笔。主旨在于不要在意旁人眼光要一鸣惊人，但故事还是有些低于预期。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1870823116">
            
    
        <div class="avatar">
            <a title="可爱不多" href="https://www.douban.com/people/beautifuleye/">
                <img src="https://img3.doubanio.com/icon/u65312898-4.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">41</span>
                <input value="1870823116" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/beautifuleye/" class="">可爱不多</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-07-22 16:36:45">
                    2019-07-22
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">也许可能大概还不错吧，只是不合我口味。这种网络段子➕顺口溜的对白，裤裆掏抢的梗➕看清楚人物设定就能猜到后面要怎么洗白说教的剧情，真的接受无能，制作水准倒是够格，对白和剧情更像是网大的风格，这样剧本拿什么跟大圣比啊？</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1867858965">
            
    
        <div class="avatar">
            <a title="santawhale" href="https://www.douban.com/people/santawhale/">
                <img src="https://img3.doubanio.com/icon/u32585937-12.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">7</span>
                <input value="1867858965" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/santawhale/" class="">santawhale</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-20 17:34:48">
                    2019-07-20
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">陈塘关小鱼儿与花无缺绝了哈哈哈</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1865142718">
            
    
        <div class="avatar">
            <a title="薛定谔的薛" href="https://www.douban.com/people/83919599/">
                <img src="https://img3.doubanio.com/icon/u83919599-4.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">50</span>
                <input value="1865142718" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/83919599/" class="">薛定谔的薛</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-07-22 09:05:26">
                    2019-07-22
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">优点毫无争议：画面渲染的很棒，画风也独特。缺点是人物形象扁平，故事情节简单，口号式升华主题。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1862587314">
            
    
        <div class="avatar">
            <a title="羚羊的灵魂" href="https://www.douban.com/people/clzleo/">
                <img src="https://img1.doubanio.com/icon/u59237362-8.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">6</span>
                <input value="1862587314" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/clzleo/" class="">羚羊的灵魂</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-16 17:46:35">
                    2019-07-16
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">尽管改编的挺好的，但我就贼想看《哪吒闹海》原封不动的变成三维动画。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1868332228">
            
    
        <div class="avatar">
            <a title="岁羽中" href="https://www.douban.com/people/gestorm/">
                <img src="https://img3.doubanio.com/icon/u17170206-30.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">25</span>
                <input value="1868332228" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/gestorm/" class="">岁羽中</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-20 23:09:30">
                    2019-07-20
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">不忍心批评，因为很多东西已经做得足够好了，社稷图等等想象力相当可以。搞笑比较低级，这个问题还好，但大剧情的逻辑设计和关键节点设计都十分糟糕，靠着良好的节奏能糊弄过去了</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1869991976">
            
    
        <div class="avatar">
            <a title="null" href="https://www.douban.com/people/sjzqzkn/">
                <img src="https://img1.doubanio.com/icon/u2458096-8.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">7</span>
                <input value="1869991976" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/sjzqzkn/" class="">null</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-21 23:36:05">
                    2019-07-21
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">考虑儿童片定位，三颗半到四星是没问题的，现在分数虚高，所以三颗星吧。最大的悖论是结局：全片都在说不要在意别人的看法，最终的 happy ending 在于哪吒终于得到了世人的认可，全崩。但不细想就还好，特效出色，但无惊喜。http://t.cn/Aillz7Yd</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1883457693">
            
    
        <div class="avatar">
            <a title="如臨深淵荒堂" href="https://www.douban.com/people/155678242/">
                <img src="https://img3.doubanio.com/icon/u155678242-13.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">6</span>
                <input value="1883457693" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/155678242/" class="">如臨深淵荒堂</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-30 23:39:57">
                    2019-07-30
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">无疑是很不错很好看的动画片啦，可是……是一个关于种族歧视、身份认同、警*黑*合作的故事吗？主角是怎么就逆天改命了呢没看见多少个人努力完全是胎里带来的牛逼加“意志的胜利”这是最大的弱点。几次误会太牵强全靠围观群众不明真相是其次。申公豹的存在比较机械降神相比而言元始天尊甩掉了许多锅。对“正邪不两立、天庭不偏安”的解构究竟是不是主题的一部分搞得很暧昧。敖丙小哥哥的故事告诉我们小朋友不能养得太听话，你那么想做好孩子那很简单哇把大坏蛋申公豹杀了就好了。四川口音是灵魂。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1858480178">
            
    
        <div class="avatar">
            <a title="YQY-Vader" href="https://www.douban.com/people/124006390/">
                <img src="https://img3.doubanio.com/icon/u124006390-5.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">18</span>
                <input value="1858480178" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/124006390/" class="">YQY-Vader</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-18 22:22:09">
                    2019-07-18
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">期待过高，有点失望。其实所有的悲剧性也都是原著神话故事中所拥有的，而进行改编的地方其实漏洞百出，这样的宿命论故事其实在近年来的漫威DC也都有体现，本质还是超英电影。但不得不称赞动画制作水平非常优秀，打斗呼吸感十足，整体意识在国产三维动画里也是顶尖。大家集体称赞剧本够硬实际证明了中国神话故事的确大有可挖之处，期待封神宇宙。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1860178118">
            
    
        <div class="avatar">
            <a title="方小孬" href="https://www.douban.com/people/yuwendizi/">
                <img src="https://img3.doubanio.com/icon/u1713584-183.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">8</span>
                <input value="1860178118" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/yuwendizi/" class="">方小孬</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-17 16:38:08">
                    2019-07-17
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">感叹国产3D动画越来越棒了啊。之前的《白蛇》就蛮惊艳了，《哪吒》的制作也很棒了。全片节奏不错，算是大小高潮都挺扎实（唯一扣分也还是剧本吧，最后的打斗收尾感觉有点急刹车）。配音不错，角色微表情调整得很好。有几个镜头的3D视觉冲击力玩得很6了。笑点也不俗套，身边小朋友们都有被逗笑（因为剧情紧凑，感觉全场的孩子们全程没有闲言碎语都看得很认真）。没想象中的悲壮或血腥。观影愉快。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1866906226">
            
    
        <div class="avatar">
            <a title="伪文科生" href="https://www.douban.com/people/65953231/">
                <img src="https://img3.doubanio.com/icon/u65953231-3.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">47</span>
                <input value="1866906226" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/65953231/" class="">伪文科生</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-19 23:11:46">
                    2019-07-19
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">有点鸡肋，食之无味弃之可惜，不要过于相信预告片，预告片把全片口号都喊出来了，然而正片没有这么精彩。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>






        <div id="paginator" class="center">
                <a href="?start=0&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="1">&lt;&lt; 首页</a>
                <a href="?start=359&amp;limit=-20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="">&lt; 前页</a>
                <a href="?start=380&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="" class="next">后页 &gt;</a>
        </div>



<script type="text/javascript" src="https://img3.doubanio.com/f/shire/a14501790b4a2db257dc5be5e37d820e600703c6/js/report_dialog.js"></script>
<link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/b45aa277f8b8df40596b96582dafb1ed0a899a64/css/report_dialog.css">




        
        
    </div>

            </div>
            <div class="aside">
                

    
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/26794435/">去 哪吒之魔童降世 的页面</a></p>

    <div class="indent">
        









<div class="movie-summary">
        <div class="movie-pic"><a href="https://movie.douban.com/subject/26794435/"><img alt="哪吒之魔童降世" title="哪吒之魔童降世" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2563780504.webp" rel="v:image" width="100px"></a></div>
    <span class="attrs">
        
            
        <p>
            <span class="pl">导演:</span>
                <a href="https://movie.douban.com/celebrity/1328441/">饺子</a>
        </p>

        
            
        <p>
            <span class="pl">主演:</span>
                <a href="https://movie.douban.com/celebrity/1419996/">吕艳婷</a> / <a href="https://movie.douban.com/celebrity/1400125/">囧森瑟夫</a> / <a href="https://movie.douban.com/celebrity/1400124/">瀚墨</a> / <a href="https://movie.douban.com/celebrity/1329520/">陈浩</a> / <a href="https://movie.douban.com/celebrity/1372724/">绿绮</a> / <a href="https://movie.douban.com/celebrity/1420051/">张珈铭</a> / <a href="https://movie.douban.com/celebrity/1419997/">杨卫</a> / <a href="https://movie.douban.com/celebrity/1420965/">何禹祥</a> / <a href="https://movie.douban.com/celebrity/1420966/">任俊鹏</a> / <a href="https://movie.douban.com/celebrity/1422645/">刘霖竺</a> / <a href="https://movie.douban.com/celebrity/1422644/">大海</a> / <a href="https://movie.douban.com/celebrity/1422643/">陶渊</a> / <a href="https://movie.douban.com/celebrity/1422039/">李南</a> / <a href="https://movie.douban.com/celebrity/1421280/">杏林儿</a> / <a href="https://movie.douban.com/celebrity/1422697/">雨辰</a>
        </p>

        
            
        <p>
            <span class="pl">类型:</span>
                剧情, 喜剧, 动画, 奇幻
        </p>

        
            
        <p>
            <span class="pl">地区:</span>
                中国大陆
        </p>

        
            
        <p>
            <span class="pl">片长:</span>
                110分钟
        </p>

        
            
        <p>
            <span class="pl">上映:</span>
                2019-07-13(大规模点映), 2019-07-26(中国大陆)
        </p>

        <a class="trail_link" data-trailer-id="250477" href="https://movie.douban.com/trailer/250477/#content">预告片</a>
    </span>
</div>



    </div>
    <div id="dale_movie_subject_comments_bottom_right" ad-status="loaded"></div>
    <a href="https://help.douban.com/blackroom">&gt; 豆瓣违规公示</a>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    © 2005－2019 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/6800f05b59a0f0b4.js"></script><script type="text/javascript">

        $.each($("#comments:not('.sns-comments') .comment-item ".concat('.comment')), function(i, el){
            if ($(el).find(".comment-report").length==0){
              $(el).append('<div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div>');
            }
        });

        $('#comments').on('click', '.a_vote_comment',function(e){
            e.stopImmediatePropagation()
            var is_released = true,
                txt_released = "该电影还未上映，不能投票噢";

            if(!is_released && "P" === 'P') {
                alert(txt_released)
                return
            }
            var v = $(this).prev().prev(), id = $(this).prev().val();
            $.postJSON_withck('/j/comment/vote', {id: id}, function(r){
                if (r.r === 0 && r.count) {
                    v.text(r.count);
                } else if (r.r === 1) {
                    alert(r.msg);
                }
            })
        });

        window.percent_type = "";
        window.page_start = 360;
        window.page_limit = 20;
        window.page_status = "P";
        window.page_sort = "new_score";
        window.lastCommentsXhr = null;

        $(".comment-filter input[type='radio']").click(function(e){
            if($(this).val() === window.percent_type) return;
            if($('.comment-filter').data('doing')) {
                e.preventDefault();
                return;
            };

            window.percent_type = $(this).val();
            window.page_start = 0;
            updateUrl();

            $('.comment-filter').data('doing', true);
            $("#comments").html('<div class="comment-loading">载入中...</div>');
            $('#comments .comment-item').remove();

            updateComments();
        });

        $('#comments').delegate('#paginator a', 'click', function(e){
            e.preventDefault();

            if($(this).text().indexOf('首') !== -1){
                window.page_start = 0;
            }else if($(this).text().indexOf('前') !== -1){
                window.page_start -= window.page_limit;
            }else{
                window.page_start += window.page_limit;
            }

            window.page_start = window.page_start < 0 ? 0 : window.page_start;

            updateUrl();

            $('.comment-filter').data('doing');
            $("#comments").html('<div class="comment-loading">载入中...</div>');

            updateComments();
        });

        function updateComments(){
            window.lastCommentsXhr && window.lastCommentsXhr.abort();
            var url = '/subject/26794435/comments' + createUrlSearch() + '&comments_only=1';
            window.lastCommentsXhr = $.get(url, function(res){
                if(res.r === 0){
                    $("#comments").html(res.html);
                    $('.comment-filter').removeData('doing');
                    $('.comment-filter').get(0).scrollIntoViewIfNeeded();
                }
            })
        }

        function createPageState(){
            return {
                percent_type: window.percent_type,
                start: window.page_start,
                limit: window.page_limit,
                sort: window.page_sort,
                status: window.page_status
            }
        }

        function createUrlSearch(){
            return '?start=' + window.page_start + '&limit=' + window.page_limit + '&sort=' + window.page_sort + '&status=' + window.page_status + (window.percent_type ? '&percent_type=' + window.percent_type : '');
        }

        function updateUrl(){
            window.history && window.history.pushState(createPageState(), null, createUrlSearch());
        }

        window.onpopstate = function(e){
            var pageState = e.state;
            window.percent_type = pageState.percent_type;
            window.page_start = pageState.start;
            window.page_limit = pageState.limit;
            window.page_sort = pageState.sort;
            window.page_status = pageState.status;
            $("#comments").html('<div class="comment-loading">载入中...</div>');
            $('.comment-filter input[value="' + window.percent_type + '"]').get(0).checked = true;
            updateComments();
        }
    </script>
    
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '203701160',
            browserId = 'WXbuYGifT8w',
            criteria = '3:/subject/26794435/comments?start=360&amp;limit=20&amp;sort=new_score&amp;status=P',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_comments_bottom_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/YXhxazN0ei9mL2FkanMvN2JmMDcyOGVlOGJjNGNlNWRkZTkxNjk2NTA4YmMxOTMzOTdiOGNjZS9hZC5yZWxlYXNlLmpz');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- brand79-docker-->

  <script>_SPLITTEST=''</script>





<div id="search_suggest" style="display: none; top: 78px; left: 162.4px;"><ul></ul></div></body></html>