<html lang="zh-cmn-Hans" class="ua-windows ua-webkit"><head><script src="https://www.douban.com/j/doumail/num?callback=jsonp_t79ijy7npxm2gfc" async=""></script><script src="https://www.douban.com/j/notification/num?callback=jsonp_3z8ylu1lj1bknmw" async=""></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>

哪吒之魔童降世 短评
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="哪吒之魔童降世,影讯,排片,放映时间,电影票价,在线购票">
    <meta name="description" content="哪吒之魔童降世短评">
    <meta name="mobile-agent" content="format=html5; url=http://m.douban.com/movie/subject/26794435/comments">
    <script type="text/javascript" defer="" async="" src="https://img3.doubanio.com/dae/fundin/piwik.js"></script><script type="text/javascript" src="//img1.doubanio.com/YXhxazN0ei9mL2FkanMvN2JmMDcyOGVlOGJjNGNlNWRkZTkxNjk2NTA4YmMxOTMzOTdiOGNjZS9hZC5yZWxlYXNlLmpz" async="true"></script><script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/52c9997d6d42db58eab418e976a14d5f3eff981e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/1316664523258f7b8b536e4ce45afc9cb37b8963/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/27219466152855d9.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
<script src="https://ssl.google-analytics.com/ga.js" async="true"></script></head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>守护兽兽的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&amp;ck=AXRF">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;203701160&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;203701160&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;203701160&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;203701160&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;203701160&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;203701160&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;203701160&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com/?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;203701160&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆品</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "203701160",
    UPLOAD_AUTH_TOKEN: "203701160:2199e65e46c0721346a53a0f92cd51bc26d188c1",
    SSE_TOKEN: "8458719d4f1fd5afb8e6381a4d7316ce0bfd3aeb",
    SSE_TIMESTAMP: "1568259446",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https://movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value="" autocomplete="off"></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002">
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li><a href="https://movie.douban.com/mine">我看</a>
    </li>
    <li><a href="https://movie.douban.com/cinema/nowplaying/">影讯&amp;购票</a>
    </li>
    <li><a href="https://movie.douban.com/explore">选电影</a>
    </li>
    <li><a href="https://movie.douban.com/tv/">电视剧</a>
    </li>
    <li><a href="https://movie.douban.com/chart">排行榜</a>
    </li>
    <li><a href="https://movie.douban.com/tag/">分类</a>
    </li>
    <li><a href="https://movie.douban.com/review/best/">影评</a>
    </li>
    <li><a href="https://movie.douban.com/annual/2018?source=navigation">2018年度榜单</a>
    </li>
    <li><a href="https://www.douban.com/standbyme/2018?source=navigation">2018书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2018?source=movie_navigation" class="movieannual2018"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>哪吒之魔童降世 短评</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    



<div class="clearfix Comments-hd">
    <ul class="fleft CommentTabs">
            <li class="is-active">
                <span>看过(363636)</span>
            </li>

            <li>
                <a href="?status=F">想看(11162)</a>
            </li>
    </ul>
    <div class="fright">
        
        <a href="javascript:;" class="comment_btn j a_collect_btn" name="cbtn-26794435">我来写短评</a>
    </div>
</div>

    
    
    <div class="title_line clearfix color_gray">
        <div class="fleft Comments-sortby">
                <span>热门</span>
                    <a href="?sort=time&amp;status=P">最新</a>
            <a href="follows_comments?status=P">好友</a>
        </div>
    </div>

    <div class="comment-filter">
        <label>
            <input type="radio" name="sort" value="" checked="checked"><span class="filter-name">全部</span><span class="comment-percent"></span>
        </label>
        <label>
            <input type="radio" name="sort" value="h"><span class="filter-name">好评</span><span class="comment-percent">85%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="m"><span class="filter-name">一般</span><span class="comment-percent">10%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="l"><span class="filter-name">差评</span><span class="comment-percent">5%</span>
        </label>
    </div>

    <div class="mod-bd" id="comments">
        







    
        
        <div class="comment-item" data-cid="1877135700">
            
    
        <div class="avatar">
            <a title="阁楼上的猫" href="https://www.douban.com/people/104258633/">
                <img src="https://img3.doubanio.com/icon/u104258633-3.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">9</span>
                <input value="1877135700" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/104258633/" class="">阁楼上的猫</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-27 05:57:26">
                    2019-07-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">我算是看明白了，国外的动画，就算没东西，也得给你过度解读出来2000字，9.0+的评分不喜欢也得5星，对于国内就是先把有色眼镜带上，钉到耻辱柱上，一顿挑毛病。仿佛说，你要一口吃不成胖子，就不要选择进步。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1906413958">
            
    
        <div class="avatar">
            <a title="陳牛" href="https://www.douban.com/people/cow/">
                <img src="https://img3.doubanio.com/icon/u1001363-6.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">4</span>
                <input value="1906413958" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/cow/" class="">陳牛</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-08-13 20:02:17">
                    2019-08-13
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">雖然給哪吒的故事換上了一個新的精神內核，但並沒有太大的新意。只是我想到，香港人看這部電影，也許和大陸的視角很不同。龍太子最後選擇不臣服於自己的種族之下，三太子選擇不臣服於自己是魔珠的出身上，兩人都是拒絕認命的人。這部電影要是導演是香港人，絕對會有香港影評人說是傘後電影的。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1866729990">
            
    
        <div class="avatar">
            <a title="闻言" href="https://www.douban.com/people/Solomondes/">
                <img src="https://img1.doubanio.com/icon/u49986745-18.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">4</span>
                <input value="1866729990" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/Solomondes/" class="">闻言</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-19 21:15:50">
                    2019-07-19
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">瑕不掩瑜，老少通吃，暗搓搓的核心思想还是很毒的。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1884836086">
            
    
        <div class="avatar">
            <a title="大密度蓝" href="https://www.douban.com/people/cwyjsw/">
                <img src="https://img3.doubanio.com/icon/u38533127-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">8</span>
                <input value="1884836086" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/cwyjsw/" class="">大密度蓝</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-07-31 22:08:30">
                    2019-07-31
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">对近年来爆款影视的整合，主角和群像人设上照搬我不是药神和流浪地球，配乐还要仿一点权力的游戏。甚至能够想象创作团队在玩拼贴洗稿的时候就已经坚信这部片子一定能爆上加爆的狂喜的样子，可是特效再进步，暴发户的内核还是那么浅显。可以预见的是，这部电影越成功，越会促使更多人去复制这条捷径。观众什么时候能像抛弃咪蒙一样抛弃这种图像爆款呢，我不知道，但我知道未来很长一段时间，我们都要继续忍受这样的“良心”。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1859913288">
            
    
        <div class="avatar">
            <a title="Goodlife07" href="https://www.douban.com/people/162449201/">
                <img src="https://img3.doubanio.com/icon/u162449201-20.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">4</span>
                <input value="1859913288" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/162449201/" class="">Goodlife07</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-14 17:32:38">
                    2019-07-14
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">视效很棒，完全没预告那样严肃，整体延续创作者一贯的无厘头的搞笑风，仙人别嘴的四川普通话、女声尖叫的村民笑死人。如果说只是笑过后存没存有一点精髓，当然有，没有人能定义自己是谁，只有自己知道。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1868151324">
            
    
        <div class="avatar">
            <a title="[已注销]" href="https://www.douban.com/people/174996452/">
                <img src="https://img1.doubanio.com/icon/user_normal.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">5</span>
                <input value="1868151324" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/174996452/" class="">[已注销]</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-20 21:21:43">
                    2019-07-20
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">不知真相地愚民环境和千古一寸的原生传统家庭哪一个更逼死人？哪吒插浑打科的小儿形象颠覆经典动画，敖丙翩翩公子世无双稳压本场颜当。人心偏颇最为可怕，没有绝对的邪与正，魔与灵，贪婪的欲望才是绝对的。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1864930459">
            
    
        <div class="avatar">
            <a title="孟三哥" href="https://www.douban.com/people/88345829/">
                <img src="https://img3.doubanio.com/icon/u88345829-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">8</span>
                <input value="1864930459" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/88345829/" class="">孟三哥</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-19 21:19:38">
                    2019-07-19
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">丑哪吒越看越cute，太乙真人形象又颠覆又饱满，连申公豹都很有角色特点，打戏画面流畅度真的很不错，如果结尾处理好点，就完美了。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1876591687">
            
    
        <div class="avatar">
            <a title="刘学浩" href="https://www.douban.com/people/liuxuehao/">
                <img src="https://img3.doubanio.com/icon/u4669098-74.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">3</span>
                <input value="1876591687" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/liuxuehao/" class="">刘学浩</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-26 21:07:33">
                    2019-07-26
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">期待太高，落差巨大。开头石子划破夫人脸，很快就没了，哪吒出来的时候地上明明有个坑，很快又没了。一般人抱不动那个莲花，这俩球随便就能手握么？cp大战的时候怎么不早再次解开圈呢？把圈变手镯是不是太“方便”了一点？那早干嘛去了？雷劈的时候上面都打那么热闹了，为什么太乙真人一直在看戏？老头不是白内障吗？最后放电闪好了吗？整个陈塘关都炸成那样了，没人死吗？</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1889641803">
            
    
        <div class="avatar">
            <a title="[已注销]" href="https://www.douban.com/people/fuyuwinter/">
                <img src="https://img3.doubanio.com/icon/u45800980-40.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">4</span>
                <input value="1889641803" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/fuyuwinter/" class="">[已注销]</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-08-03 22:15:05">
                    2019-08-03
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">山河社稷图当空间斩用 不愧是太乙救苦天尊 那个乾坤圈是金箍客串的吧 拿武力/颜值换智商的debuff道具 藕饼 真香</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1860627426">
            
    
        <div class="avatar">
            <a title="Dionysus" href="https://www.douban.com/people/186825648/">
                <img src="https://img3.doubanio.com/icon/u186825648-12.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">0</span>
                <input value="1860627426" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/186825648/" class="">Dionysus</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2019-08-10 15:45:43">
                    2019-08-10
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">道德化的超级英雄（1分）</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1917300869">
            
    
        <div class="avatar">
            <a title="葵花籽" href="https://www.douban.com/people/tanzye/">
                <img src="https://img3.doubanio.com/icon/u52240047-82.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">4</span>
                <input value="1917300869" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/tanzye/" class="">葵花籽</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-08-20 11:01:44">
                    2019-08-20
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">完全是借哪吒骗情怀吧。哪吒长得像王宝强，片子里的笑点网络化又低级恶趣味真是相当迎合暑期幼儿的赏片水平。制作水平到位又如何呢内容完全没有原版那般撼人心魄，哪吒莲花中重生的灵性一点都没有。不知道的你说这片是孙悟空都有人信</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1880610121">
            
    
        <div class="avatar">
            <a title="甦醒 Nostalgia" href="https://www.douban.com/people/52460978/">
                <img src="https://img3.doubanio.com/icon/u52460978-10.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">2</span>
                <input value="1880610121" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/52460978/" class="">甦醒 Nostalgia</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-29 08:01:05">
                    2019-07-29
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">一切的一切都没问题，也是完全符合市场化的，尤其整个封神榜的布局初现更是让人激动。唯一的问题这样改变哪吒让人从心底里还是有点拒绝的，当做一个全新的故事看吧，可当初吸引你进影院的可是那个充满反叛精神手拿红缨枪脚踩风火轮的哪吒哎。但基本上是一个全新的故事也不可谓不好，旧有的故事已太深入人心如果不大刀阔斧的砍去，观众难道不成又听一遍老故事，只是视觉新颖了？那这一部哪吒也不会有这么大新意和热度了。况且有编剧自我的世界观架构铺底，只是借用哪吒的人物设定而已，还是期待后续的封神故事新编。插科打诨我觉得也没问题，苦大仇深不符合大众审美的，这一点漫威已经印证了无数遍，插科打诨、磕cp、燃点、泪点才是一部当代商业片该有的元素。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1877459408">
            
    
        <div class="avatar">
            <a title="加路" href="https://www.douban.com/people/jialululu/">
                <img src="https://img3.doubanio.com/icon/u54301401-15.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">5</span>
                <input value="1877459408" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/jialululu/" class="">加路</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-27 12:30:12">
                    2019-07-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">整部电影最不行的就是剧作了，命运两个字仅仅是魔丸所赋予的话，就还是太浅薄了。制作不错。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1885256315">
            
    
        <div class="avatar">
            <a title="卡！！" href="https://www.douban.com/people/xiaoka100/">
                <img src="https://img1.doubanio.com/icon/u45274759-7.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">6</span>
                <input value="1885256315" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/xiaoka100/" class="">卡！！</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2019-08-01 07:27:39">
                    2019-08-01
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">什么玩意</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1882247556">
            
    
        <div class="avatar">
            <a title="Irgendwie" href="https://www.douban.com/people/ingwerstein/">
                <img src="https://img3.doubanio.com/icon/u1588742-1373.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">4</span>
                <input value="1882247556" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/ingwerstein/" class="">Irgendwie</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-30 08:56:42">
                    2019-07-30
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">This is just too gay. </span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1868020006">
            
    
        <div class="avatar">
            <a title="席缪" href="https://www.douban.com/people/simu19/">
                <img src="https://img3.doubanio.com/icon/u48188928-64.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">3</span>
                <input value="1868020006" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/simu19/" class="">席缪</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-20 19:42:47">
                    2019-07-20
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">没想到有生之年还能吃到敖丙和哪吒的CP，你们对得起天国的莲花菇凉么？？？哪吒魔化了有点像红孩儿，所以李靖484也被绿了。特效比《大鱼海棠》还要炸裂，目估成本在3亿左右，感觉回本应该没问题。剧本虽然还有很多缺陷，有些3d的部分还有些僵硬，但已经整体无限接近梦工厂了。另外，最近的国漫，总给人一种老式的美国西部片感觉，各种约翰福特的变种。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1858696654">
            
    
        <div class="avatar">
            <a title="风满蜃气楼" href="https://www.douban.com/people/bearish/">
                <img src="https://img1.doubanio.com/icon/u2662236-667.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">11</span>
                <input value="1858696654" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/bearish/" class="">风满蜃气楼</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-21 20:21:24">
                    2019-07-21
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">4.5很不错。矛盾冲突激烈，情节设置巧妙，笑点也足（太乙真人是四川人吗）。最可悲的是你拼尽一切改变命运，却仍然不可能改变人心的成见，你痛恨的人你却担负拯救他们的使命；那些朝你下跪对你忏悔的人很容易又会对你群起攻之。他人的看法是个屁，但确实会压垮人心。画卷里的欢乐谷很牛逼哦，视效赞，期待下一部。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1943471236">
            
    
        <div class="avatar">
            <a title="赏味Spencer" href="https://www.douban.com/people/lzy_cc/">
                <img src="https://img1.doubanio.com/icon/u1564262-17.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">2</span>
                <input value="1943471236" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/lzy_cc/" class="">赏味Spencer</a>
                    <span>看过</span>
                <span class="comment-time " title="2019-09-07 22:28:54">
                    2019-09-07
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">台词比电影前吃的那块蛋黄莲蓉月饼还油腻</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1854679428">
            
    
        <div class="avatar">
            <a title="[未注销]" href="https://www.douban.com/people/thedarknine/">
                <img src="https://img3.doubanio.com/icon/u76046276-5.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">11</span>
                <input value="1854679428" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/thedarknine/" class="">[未注销]</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-13 19:24:29">
                    2019-07-13
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">《哪吒之绝代双骄》
视觉效果、动作场面不成问题；
努力制造的笑料刻意且老套。
哪吒是改魔、敖丙是魔改。
剧情缺乏新意，数不清几次被料到了走向；
仨彩蛋：后两个是《哪吒2》、《姜子牙》，期待封神宇宙。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1872615060">
            
    
        <div class="avatar">
            <a title="清晏" href="https://www.douban.com/people/56677691/">
                <img src="https://img1.doubanio.com/icon/u56677691-7.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">4</span>
                <input value="1872615060" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/56677691/" class="">清晏</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-23 23:13:03">
                    2019-07-23
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">79年《哪吒闹海》里那句“爹爹，你的骨肉我还给你”，说的是战天斗地的英雄冲破命运束缚时的义无反顾；19年《哪吒》里那句“爹娘，我不连累你”，也说的是英雄，但他底气里不再是毅然决然，反而弥漫着找不到自我又不甘就范的焦虑不安。它们都抓准了各自的时代脉搏，因而也很难谈出个高低贵贱来。

导演很爱惜自己的角色呀。很多导演处理反派或者说坏角色，尤其功能性很强的坏角色的时候，很容易去满足套路或者说观众的期许，比如敖丙那个角色，很容易在哐哐哐一顿特效里完全沦为货真价实的大反派，但他不但没有，还提升了这个角色的弧光。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>






        <div id="paginator" class="center">
                <a href="?start=0&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="1">&lt;&lt; 首页</a>
                <a href="?start=459&amp;limit=-20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="">&lt; 前页</a>
                <a href="?start=480&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="" class="next">后页 &gt;</a>
        </div>



<script type="text/javascript" src="https://img3.doubanio.com/f/shire/a14501790b4a2db257dc5be5e37d820e600703c6/js/report_dialog.js"></script>
<link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/b45aa277f8b8df40596b96582dafb1ed0a899a64/css/report_dialog.css">




        
        
    </div>

            </div>
            <div class="aside">
                

    
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/26794435/">去 哪吒之魔童降世 的页面</a></p>

    <div class="indent">
        









<div class="movie-summary">
        <div class="movie-pic"><a href="https://movie.douban.com/subject/26794435/"><img alt="哪吒之魔童降世" title="哪吒之魔童降世" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2563780504.webp" rel="v:image" width="100px"></a></div>
    <span class="attrs">
        
            
        <p>
            <span class="pl">导演:</span>
                <a href="https://movie.douban.com/celebrity/1328441/">饺子</a>
        </p>

        
            
        <p>
            <span class="pl">主演:</span>
                <a href="https://movie.douban.com/celebrity/1419996/">吕艳婷</a> / <a href="https://movie.douban.com/celebrity/1400125/">囧森瑟夫</a> / <a href="https://movie.douban.com/celebrity/1400124/">瀚墨</a> / <a href="https://movie.douban.com/celebrity/1329520/">陈浩</a> / <a href="https://movie.douban.com/celebrity/1372724/">绿绮</a> / <a href="https://movie.douban.com/celebrity/1420051/">张珈铭</a> / <a href="https://movie.douban.com/celebrity/1419997/">杨卫</a> / <a href="https://movie.douban.com/celebrity/1420965/">何禹祥</a> / <a href="https://movie.douban.com/celebrity/1420966/">任俊鹏</a> / <a href="https://movie.douban.com/celebrity/1422645/">刘霖竺</a> / <a href="https://movie.douban.com/celebrity/1422644/">大海</a> / <a href="https://movie.douban.com/celebrity/1422643/">陶渊</a> / <a href="https://movie.douban.com/celebrity/1422039/">李南</a> / <a href="https://movie.douban.com/celebrity/1421280/">杏林儿</a> / <a href="https://movie.douban.com/celebrity/1422697/">雨辰</a>
        </p>

        
            
        <p>
            <span class="pl">类型:</span>
                剧情, 喜剧, 动画, 奇幻
        </p>

        
            
        <p>
            <span class="pl">地区:</span>
                中国大陆
        </p>

        
            
        <p>
            <span class="pl">片长:</span>
                110分钟
        </p>

        
            
        <p>
            <span class="pl">上映:</span>
                2019-07-13(大规模点映), 2019-07-26(中国大陆)
        </p>

        <a class="trail_link" data-trailer-id="250477" href="https://movie.douban.com/trailer/250477/#content">预告片</a>
    </span>
</div>



    </div>
    <div id="dale_movie_subject_comments_bottom_right" ad-status="loaded"></div>
    <a href="https://help.douban.com/blackroom">&gt; 豆瓣违规公示</a>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    © 2005－2019 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/6800f05b59a0f0b4.js"></script><script type="text/javascript">

        $.each($("#comments:not('.sns-comments') .comment-item ".concat('.comment')), function(i, el){
            if ($(el).find(".comment-report").length==0){
              $(el).append('<div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div>');
            }
        });

        $('#comments').on('click', '.a_vote_comment',function(e){
            e.stopImmediatePropagation()
            var is_released = true,
                txt_released = "该电影还未上映，不能投票噢";

            if(!is_released && "P" === 'P') {
                alert(txt_released)
                return
            }
            var v = $(this).prev().prev(), id = $(this).prev().val();
            $.postJSON_withck('/j/comment/vote', {id: id}, function(r){
                if (r.r === 0 && r.count) {
                    v.text(r.count);
                } else if (r.r === 1) {
                    alert(r.msg);
                }
            })
        });

        window.percent_type = "";
        window.page_start = 460;
        window.page_limit = 20;
        window.page_status = "P";
        window.page_sort = "new_score";
        window.lastCommentsXhr = null;

        $(".comment-filter input[type='radio']").click(function(e){
            if($(this).val() === window.percent_type) return;
            if($('.comment-filter').data('doing')) {
                e.preventDefault();
                return;
            };

            window.percent_type = $(this).val();
            window.page_start = 0;
            updateUrl();

            $('.comment-filter').data('doing', true);
            $("#comments").html('<div class="comment-loading">载入中...</div>');
            $('#comments .comment-item').remove();

            updateComments();
        });

        $('#comments').delegate('#paginator a', 'click', function(e){
            e.preventDefault();

            if($(this).text().indexOf('首') !== -1){
                window.page_start = 0;
            }else if($(this).text().indexOf('前') !== -1){
                window.page_start -= window.page_limit;
            }else{
                window.page_start += window.page_limit;
            }

            window.page_start = window.page_start < 0 ? 0 : window.page_start;

            updateUrl();

            $('.comment-filter').data('doing');
            $("#comments").html('<div class="comment-loading">载入中...</div>');

            updateComments();
        });

        function updateComments(){
            window.lastCommentsXhr && window.lastCommentsXhr.abort();
            var url = '/subject/26794435/comments' + createUrlSearch() + '&comments_only=1';
            window.lastCommentsXhr = $.get(url, function(res){
                if(res.r === 0){
                    $("#comments").html(res.html);
                    $('.comment-filter').removeData('doing');
                    $('.comment-filter').get(0).scrollIntoViewIfNeeded();
                }
            })
        }

        function createPageState(){
            return {
                percent_type: window.percent_type,
                start: window.page_start,
                limit: window.page_limit,
                sort: window.page_sort,
                status: window.page_status
            }
        }

        function createUrlSearch(){
            return '?start=' + window.page_start + '&limit=' + window.page_limit + '&sort=' + window.page_sort + '&status=' + window.page_status + (window.percent_type ? '&percent_type=' + window.percent_type : '');
        }

        function updateUrl(){
            window.history && window.history.pushState(createPageState(), null, createUrlSearch());
        }

        window.onpopstate = function(e){
            var pageState = e.state;
            window.percent_type = pageState.percent_type;
            window.page_start = pageState.start;
            window.page_limit = pageState.limit;
            window.page_sort = pageState.sort;
            window.page_status = pageState.status;
            $("#comments").html('<div class="comment-loading">载入中...</div>');
            $('.comment-filter input[value="' + window.percent_type + '"]').get(0).checked = true;
            updateComments();
        }
    </script>
    
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '203701160',
            browserId = 'WXbuYGifT8w',
            criteria = '3:/subject/26794435/comments?start=460&amp;limit=20&amp;sort=new_score&amp;status=P',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_comments_bottom_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/YXhxazN0ei9mL2FkanMvN2JmMDcyOGVlOGJjNGNlNWRkZTkxNjk2NTA4YmMxOTMzOTdiOGNjZS9hZC5yZWxlYXNlLmpz');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- fram16-docker-->

  <script>_SPLITTEST=''</script>





<div id="search_suggest" style="display: none; top: 78px; left: 162.4px;"><ul></ul></div></body></html>