<html lang="zh-cmn-Hans" class="ua-windows ua-webkit"><head><script src="https://www.douban.com/j/doumail/num?callback=jsonp_9yygwbriyp5c4ah" async=""></script><script src="https://www.douban.com/j/notification/num?callback=jsonp_e9jbsgdbce6qg8i" async=""></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>

哪吒之魔童降世 短评
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="哪吒之魔童降世,影讯,排片,放映时间,电影票价,在线购票">
    <meta name="description" content="哪吒之魔童降世短评">
    <meta name="mobile-agent" content="format=html5; url=http://m.douban.com/movie/subject/26794435/comments">
    <script type="text/javascript" defer="" async="" src="https://img3.doubanio.com/dae/fundin/piwik.js"></script><script type="text/javascript" src="//img1.doubanio.com/YXhxazN0ei9mL2FkanMvN2JmMDcyOGVlOGJjNGNlNWRkZTkxNjk2NTA4YmMxOTMzOTdiOGNjZS9hZC5yZWxlYXNlLmpz" async="true"></script><script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/52c9997d6d42db58eab418e976a14d5f3eff981e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/1316664523258f7b8b536e4ce45afc9cb37b8963/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/27219466152855d9.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
<script src="https://ssl.google-analytics.com/ga.js" async="true"></script></head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>守护兽兽的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&amp;ck=AXRF">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;203701160&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;203701160&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;203701160&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;203701160&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;203701160&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;203701160&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;203701160&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com/?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;203701160&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆品</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "203701160",
    UPLOAD_AUTH_TOKEN: "203701160:2199e65e46c0721346a53a0f92cd51bc26d188c1",
    SSE_TOKEN: "e027e0b9bb0a18df3802e5d1d88a215196d7513d",
    SSE_TIMESTAMP: "1568259365",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https://movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value="" autocomplete="off"></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002">
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li><a href="https://movie.douban.com/mine">我看</a>
    </li>
    <li><a href="https://movie.douban.com/cinema/nowplaying/">影讯&amp;购票</a>
    </li>
    <li><a href="https://movie.douban.com/explore">选电影</a>
    </li>
    <li><a href="https://movie.douban.com/tv/">电视剧</a>
    </li>
    <li><a href="https://movie.douban.com/chart">排行榜</a>
    </li>
    <li><a href="https://movie.douban.com/tag/">分类</a>
    </li>
    <li><a href="https://movie.douban.com/review/best/">影评</a>
    </li>
    <li><a href="https://movie.douban.com/annual/2018?source=navigation">2018年度榜单</a>
    </li>
    <li><a href="https://www.douban.com/standbyme/2018?source=navigation">2018书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2018?source=movie_navigation" class="movieannual2018"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>哪吒之魔童降世 短评</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    



<div class="clearfix Comments-hd">
    <ul class="fleft CommentTabs">
            <li class="is-active">
                <span>看过(363636)</span>
            </li>

            <li>
                <a href="?status=F">想看(11162)</a>
            </li>
    </ul>
    <div class="fright">
        
        <a href="javascript:;" class="comment_btn j a_collect_btn" name="cbtn-26794435">我来写短评</a>
    </div>
</div>

    
    
    <div class="title_line clearfix color_gray">
        <div class="fleft Comments-sortby">
                <span>热门</span>
                    <a href="?sort=time&amp;status=P">最新</a>
            <a href="follows_comments?status=P">好友</a>
        </div>
    </div>

    <div class="comment-filter">
        <label>
            <input type="radio" name="sort" value="" checked="checked"><span class="filter-name">全部</span><span class="comment-percent"></span>
        </label>
        <label>
            <input type="radio" name="sort" value="h"><span class="filter-name">好评</span><span class="comment-percent">85%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="m"><span class="filter-name">一般</span><span class="comment-percent">10%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="l"><span class="filter-name">差评</span><span class="comment-percent">5%</span>
        </label>
    </div>

    <div class="mod-bd" id="comments">
        







    
        
        <div class="comment-item" data-cid="1865488467">
            
    
        <div class="avatar">
            <a title="寒枝雀静" href="https://www.douban.com/people/93124222/">
                <img src="https://img3.doubanio.com/icon/u93124222-46.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">218</span>
                <input value="1865488467" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/93124222/" class="">寒枝雀静</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-18 21:56:37">
                    2019-07-18
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">C＋/ ①相比被盛赞的剧本，反倒是视觉形象的建构比较出乎我意料：莲-火-毽子（鳞片）-红莲的意象联结贯穿了全片，自细微琐屑至宏大奇观完成了完整回环而又颇具想象力的体系。②剧本其实有点过于依赖“孩童”人设，一方面助益了影片暗黑而又诙谐的混搭基调，另一方面也遮蔽了部分剧作上的仓促甚至让人物的成长显得不够充分（比如，“控制”的习得只是如此简单的事情吗？）。③导演对叙事时间的理解可能有些粗糙，连高潮戏一条线到一半时间停顿切到另一条线这样破坏节奏的小瑕疵都好几处。④至于大量不合时宜的笑料，让它们融入叙事的办法只有一个，就是添加让这些“异类”同样受到压抑的细节，而不是大大落落地丢包袱。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1876987439">
            
    
        <div class="avatar">
            <a title="曼仔" href="https://www.douban.com/people/Erman-Wei/">
                <img src="https://img3.doubanio.com/icon/u4150687-125.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">356</span>
                <input value="1876987439" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/Erman-Wei/" class="">曼仔</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-27 00:56:27">
                    2019-07-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">看完心情有点复杂，只能说是雷点萌点兼具吧，不是我喜欢的那一款，但能看出来质感很好。好的地方当然是制作，确实是国漫标杆，甚至叙事部分也不差，是比较娴熟的类型片叙事。但我最不满意的地方恰恰就是很多人觉得燃的地方，这个片子里的哪吒和传统的“哪吒闹海”最大的区别就是，不再有那种六亲不认的反叛性了，而这恰恰是我觉得哪吒这个角色最吸引我的地方，是对父权最为彻底、最为决绝的反抗，甚至比石头里蹦出来的孙悟空还要六亲不认，是以自己的血肉之躯为代价获得彻底的自由，挣脱一切爱与伦理的锁链。但新版哪吒所谓的“我命由我不由天”完全是另一个故事，是网文式的逆天改命，好好活，不抛弃，不放弃，做有意义的事。。原版哪吒是野生摇滚，新版哪吒是摇滚人参加中国摇滚三十年研讨会。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1878668383">
            
    
        <div class="avatar">
            <a title="danyboy" href="https://www.douban.com/people/danyboy/">
                <img src="https://img1.doubanio.com/icon/u1186285-18.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">171</span>
                <input value="1878668383" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/danyboy/" class="">danyboy</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-28 01:13:54">
                    2019-07-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">刨去了哪吒自杀还父的情节，就抽去了哪吒故事的灵魂。我只能说，这是另一个故事，我只能说这个新的关于青春期的故事讲的不错，舞美、画工、形象设计都好。但，这是一部拍给80后的电影，为人父母的80后很爱看吧；养过利维坦式宝宝的80后很爱看吧；熟悉周星驰式喜剧的80后很爱看吧；把自己代入到李靖夫妇而非哪吒和敖丙的80后们很爱看吧。你们一定很爱看，因为你们已经不再是曾经那个哪吒，而是守着工资的总兵咯。一言以蔽之，这不是哪吒的故事，但不妨碍是另一个讲的还算不错的故事。片尾曲的歌也不错。值得票价，就是我全程到目前都醉着。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1868256311">
            
    
        <div class="avatar">
            <a title="花盆" href="https://www.douban.com/people/123345990/">
                <img src="https://img3.doubanio.com/icon/u123345990-5.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">381</span>
                <input value="1868256311" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/123345990/" class="">花盆</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-20 22:28:17">
                    2019-07-20
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">大型神话人物同人电影。没有了“削肉还父，剔骨还母”的情节，哪吒这个人物形象的精神内核就没有了。他本身可以算是一个悲剧形象，承载了对父权社会的反抗，改后只保有对他人偏见的反抗，而且哪吒悲壮赴死本来是“虽然你们都讨厌我但我一人做事一人当不拖累你们”，现在成了“我爸原来这么爱我我不能让他替我死”，中二倔强少年成了良心发现的孝顺儿子，还算是哪吒吗？

整体完成效果比较好，结尾有些烂尾（比如村民怎么突然就意识到自己的错误了）。最让我意难平的是大圣归来后我等了三年，结果等来的还是一个“大圣”。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1866750631">
            
    
        <div class="avatar">
            <a title="欢乐分裂" href="https://www.douban.com/people/flowermumu/">
                <img src="https://img3.doubanio.com/icon/u1147451-92.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">194</span>
                <input value="1866750631" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/flowermumu/" class="">欢乐分裂</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-19 21:30:13">
                    2019-07-19
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">3.5；较多低幼欢脱段子集合的表象并不能掩盖其悲剧的本质，越往后越动人，在改编原著的基础上，文本大刀阔斧地改变走向，奉献了一个在（国产）动画中难得一见具有邪气的魅力角色（取下乾坤圈，变身一刻堪称全片高光，碾压帅气敖丙）。善与恶，水与火，在充满偏见定论的二元世界，这两个承载了命运错弄的少年，最终以“我不信命”的信念发出天问，完满开启「封神」宇宙，十分期待了。申公豹和龙族的命运也非常具有意味深长的寓意，并为丰富主题的完成提供富含信息量的支线提供。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1864181222">
            
    
        <div class="avatar">
            <a title="西帕克" href="https://www.douban.com/people/colinpark/">
                <img src="https://img3.doubanio.com/icon/u49097402-173.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">145</span>
                <input value="1864181222" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/colinpark/" class="">西帕克</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-17 22:02:07">
                    2019-07-17
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">哪吒的削骨还父，削肉还母，被简化成父爱让他找到自我。原本故事中的反抗父权，也成了对抗世人的眼光。他的魔性可能像是科学怪人把小女孩扔入水中，只是因为对事物认知的体系不同。甚至屠龙的原罪也被略过，成了又一部“绝代双骄”。这样的叛逆更加通俗也更加安全，也是另一种时代精神吧。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1876020173">
            
    
        <div class="avatar">
            <a title="荞麦" href="https://www.douban.com/people/qiaomai/">
                <img src="https://img3.doubanio.com/icon/u1123004-1.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">295</span>
                <input value="1876020173" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/qiaomai/" class="">荞麦</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-26 13:43:43">
                    2019-07-26
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">挺好看的。除了不是哪吒之外。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1879715011">
            
    
        <div class="avatar">
            <a title="胤祥" href="https://www.douban.com/people/yinxiang/">
                <img src="https://img3.doubanio.com/icon/u1228445-130.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">185</span>
                <input value="1879715011" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/yinxiang/" class="">胤祥</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-28 18:06:55">
                    2019-07-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">网游感还是很强，不过还是能看的；整体而言哪吒的故事被包裹在一个破坏性巨大的熊孩子叙事里面，同时又有着让人不太舒服的血统论和对规训性力量的崇拜（父之名父之法真的好重要啊啊啊），所以这个故事讲的是哪吒还是猴哥啊……；另一方面看最近十年的超级英雄电影真的起到了很大的示范性作用，中国故事的想象力也因此被封闭了。这么来看今何在的《悟空传》的意义其实是被低估了……比起这个来可能还是[大鱼海棠]更解决问题……</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1865601596">
            
    
        <div class="avatar">
            <a title="后自愈" href="https://www.douban.com/people/75391386/">
                <img src="https://img1.doubanio.com/icon/u75391386-29.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">183</span>
                <input value="1865601596" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/75391386/" class="">后自愈</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-18 23:12:50">
                    2019-07-18
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">中国动画缺的不是技术，是故事，和讲好故事的能力。在故事的完成度之余，还有一定的深度。最难能可贵的是，哪吒是个反传统的英雄，他天生反骨叛逆又肩负重任，他是不被认同的异类，在戏谑的打发愁苦之后，迎来最终的爆发，切切实实的感动。李靖也一直教育儿子哪吒，不要在意他人的眼光，要做自己想做的人，不要轻言放弃，包括在生日宴上对儿子说的一番话，一个不善言辞却一直包容理解儿子的父亲形象就油然而生了。要说教育和父子情，吊打隔壁《银河补习班》。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1883020005">
            
    
        <div class="avatar">
            <a title="大奇特(Grinch)" href="https://www.douban.com/people/grinch/">
                <img src="https://img3.doubanio.com/icon/u1074463-104.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">71</span>
                <input value="1883020005" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/grinch/" class="">大奇特(Grinch)</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-30 18:30:54">
                    2019-07-30
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">哪吒和敖丙，其实就是小鱼儿与花无缺。魔丸和灵珠算一体两面的双胞胎，不同成长环境造就了不同的性格，一个是恶人谷魔星，一个是移花宫传人。小鱼儿不恶，花无缺却被恶人迷了心智，最后被设计打个你死我活。 </span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1865466974">
            
    
        <div class="avatar">
            <a title="Paco" href="https://www.douban.com/people/69290051/">
                <img src="https://img3.doubanio.com/icon/u69290051-126.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">237</span>
                <input value="1865466974" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/69290051/" class="">Paco</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-18 21:41:36">
                    2019-07-18
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">3.5。真纯粹。虽然文本完全不是想象中的高级向，但“不认命”这个基本点在情绪释放上真是合理又张扬，放低一秒防线眼眶就红了。技术上丰富度、流畅度双高，也基本跟得上想象力，但质感依旧有欠；剧本前松后紧，在节奏和笑点设置上都有刻意之处，但整体已相当圆熟，多主题驾驭得当，去二元化也成效显著，对神话元素更深入更有机的结合野心已然初俱，完全超越《大圣归来》没任何疑问。作为后起，如果能把投机又扭捏的《银河补习班》狠狠爆掉，那也算这个暑期档唯一能给的安慰了。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1869168900">
            
    
        <div class="avatar">
            <a title="地平线的旧火车" href="https://www.douban.com/people/67880800/">
                <img src="https://img3.doubanio.com/icon/u67880800-4.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">611</span>
                <input value="1869168900" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/67880800/" class="">地平线的旧火车</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-07-21 14:51:05">
                    2019-07-21
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">国产动画区真是最分裂的一个区，很多人一边叫着动漫不是低幼作品一边为片子里的低幼笑话鼓掌……哪咤这个形象看你想怎么塑造，是反抗封建礼教的悲剧英雄，还是奉行封建礼教才能带来好果的教材？导演看来选了后者</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1866373216">
            
    
        <div class="avatar">
            <a title="曼彻斯特的雪" href="https://www.douban.com/people/180401152/">
                <img src="https://img3.doubanio.com/icon/u180401152-1.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">376</span>
                <input value="1866373216" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/180401152/" class="">曼彻斯特的雪</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-20 21:22:26">
                    2019-07-20
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">比白蛇缘起更成熟，国漫又进步了！！！又燃又有内核，打戏，画面，人物表情，人物性格的塑造和心理建设，都堪称完美。
“是魔是仙，我自己说了才算。”“我命由我不由天”
“若命运不公，就和它斗到底!”
天生倔强，打破成见，这，就是哪吒！</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1858580287">
            
    
        <div class="avatar">
            <a title="刘小流" href="https://www.douban.com/people/yingpingduli/">
                <img src="https://img3.doubanio.com/icon/u66469764-151.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">313</span>
                <input value="1858580287" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/yingpingduli/" class="">刘小流</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-13 19:12:00">
                    2019-07-13
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">看到顶着黑眼圈、要吃人肉的哪吒出来，感觉就全对了。 大家都知道颠覆好看，可多数颠覆改编问题在于，颠覆之后又要束手束脚，到最后干脆成了反颠覆。本片中成了魔童的哪吒，到最后同样没办法颠覆到底，但本片优秀在角色的转变遵循着最质朴的感情线——它是哪吒在人群中艰难的自我认知，也是哪吒父子的若即若离，它完全像极了多数父子关系模式中的对抗、理解与守护。 让哪吒只是想不怂地活出个人样，便也不用到最后对人群不会消散的偏见选择性装瞎，更不用去印证百姓值得守护。这气质，真不多见。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1860330746">
            
    
        <div class="avatar">
            <a title="DR邬梦雨" href="https://www.douban.com/people/46643232/">
                <img src="https://img3.doubanio.com/icon/u46643232-12.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">316</span>
                <input value="1860330746" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/46643232/" class="">DR邬梦雨</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-14 22:23:21">
                    2019-07-14
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">前半段略无聊的笑点太用力咯吱观众，远逊于后半段哪吒天生悲情的催泪作用让人触动
人物设计上主要人物还算有趣，但次要角色非常呆板
配乐有各种影子，特别是《终结者》
表演程式化，哪吒从咬母亲的手到温顺的变化，对比《风之谷》小动物咬伤娜乌西卡的段落差距巨大
小朋友设陷阱和回放段落重复动作显得乏味；影片过度迷恋动作戏，想靠密集的快速打斗提高影片节奏，反而将情节停滞。
对愚民的讽刺一开始似乎很有意思，但后面百姓接受哪吒的场景太一致没有任何迟疑，让歉意显得虚假也把前面对庸众的批判消解了。
但总的来说，本片是一部合格的娱乐爆米花电影。只是79年的哪吒闹海可不只是这么简单的作品，那是对十年浩劫的控诉，哪吒替天行道粉碎四条兴风作浪的龙，却还要自刎将血肉还给父辈，不连累父辈。那种大时代的悲剧能量，是核弹级的。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1876832325">
            
    
        <div class="avatar">
            <a title="扭腰客" href="https://www.douban.com/people/mlsslm777/">
                <img src="https://img3.doubanio.com/icon/u2603819-295.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">156</span>
                <input value="1876832325" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/mlsslm777/" class="">扭腰客</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-26 23:25:52">
                    2019-07-26
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">技术上确实是国产动画新高度，但故事依然如那颗混元珠一样，魔丸和灵丸厮杀交错，始终未能浑然一体。回望《哪吒闹海》，还是老一辈动画人把握住了悲剧的精髓。不必硬蹭什么港式无厘头或美式皮克斯，因为哪吒本身就催人泪下。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1866103525">
            
    
        <div class="avatar">
            <a title="初悴" href="https://www.douban.com/people/148678285/">
                <img src="https://img3.doubanio.com/icon/u148678285-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">732</span>
                <input value="1866103525" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/148678285/" class="">初悴</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-07-19 12:03:28">
                    2019-07-19
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">感觉无论从美术还是配乐都和白蛇缘起与大鱼海棠差远了 
那个太乙真人肥头猪脑还一股子方言味儿
结局还是经典的中国式动漫强行大团圆结局
故事情节不算差 但表现的真的很低龄化
很多人吹 说它是目前国漫的巅峰 我觉得太过了太过了 不配 真的
</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1868916986">
            
    
        <div class="avatar">
            <a title="耿直的减肥少年" href="https://www.douban.com/people/128037054/">
                <img src="https://img3.doubanio.com/icon/u128037054-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">635</span>
                <input value="1868916986" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/128037054/" class="">耿直的减肥少年</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-07-21 11:47:27">
                    2019-07-21
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">现在看来，中国会讲故事的导演和编剧一只手都能数的过来，中国电影行业现在就是一具大型的行尸走肉，一只没有灵魂的资产怪兽。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1885396966">
            
    
        <div class="avatar">
            <a title="西楼尘" href="https://www.douban.com/people/xilouchen/">
                <img src="https://img3.doubanio.com/icon/u49290419-30.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">108</span>
                <input value="1885396966" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/xilouchen/" class="">西楼尘</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-08-01 10:20:00">
                    2019-08-01
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">李靖为哪吒贴上换命符，愿以薄命相抵天劫。龙王为敖丙披上万麟甲，欲以仇恨水淹陈塘。魔丸改变不了人族的偏见，灵珠拯救不了龙族的自由，黄金百战穿麟甲，不破陈塘终不还。海滩边他们惺惺相惜，混元珠转世投胎，不过是天神的谎言。生而背负部族业障，万千恶孽，他们始终囚禁在偏见的囹圄，自由的结界。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1878246839">
            
    
        <div class="avatar">
            <a title="路西法尔" href="https://www.douban.com/people/luxifaer/">
                <img src="https://img3.doubanio.com/icon/u4214564-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">397</span>
                <input value="1878246839" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/luxifaer/" class="">路西法尔</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-07-27 21:23:13">
                    2019-07-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">一个典型的伪古典主义故事，正适合真正古典已经死去的时代：所谓正义不过是天庭把持的一套话语，而实际上已经没有人再信仰天庭的至高权威，龙族对天庭政策已腹诽千年，哪吒的悲剧完全源于一个失败的预言和一连串僵化的行政命令，但没有人试图修正体制，所有人都在帮助天庭秩序自动化运行然后试图偷偷挖点墙角。剧中的角色除了一个小朋友，几乎没有任何人能向他人打开边界。这种片受到时代的欢迎，正所谓“斯人有斯疾也”。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>






        <div id="paginator" class="center">
                <a href="?start=0&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="1">&lt;&lt; 首页</a>
                <a href="?start=59&amp;limit=-20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="">&lt; 前页</a>
                <a href="?start=80&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="" class="next">后页 &gt;</a>
        </div>



<script type="text/javascript" src="https://img3.doubanio.com/f/shire/a14501790b4a2db257dc5be5e37d820e600703c6/js/report_dialog.js"></script>
<link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/b45aa277f8b8df40596b96582dafb1ed0a899a64/css/report_dialog.css">




        
        
    </div>

            </div>
            <div class="aside">
                

    
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/26794435/">去 哪吒之魔童降世 的页面</a></p>

    <div class="indent">
        









<div class="movie-summary">
        <div class="movie-pic"><a href="https://movie.douban.com/subject/26794435/"><img alt="哪吒之魔童降世" title="哪吒之魔童降世" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2563780504.webp" rel="v:image" width="100px"></a></div>
    <span class="attrs">
        
            
        <p>
            <span class="pl">导演:</span>
                <a href="https://movie.douban.com/celebrity/1328441/">饺子</a>
        </p>

        
            
        <p>
            <span class="pl">主演:</span>
                <a href="https://movie.douban.com/celebrity/1419996/">吕艳婷</a> / <a href="https://movie.douban.com/celebrity/1400125/">囧森瑟夫</a> / <a href="https://movie.douban.com/celebrity/1400124/">瀚墨</a> / <a href="https://movie.douban.com/celebrity/1329520/">陈浩</a> / <a href="https://movie.douban.com/celebrity/1372724/">绿绮</a> / <a href="https://movie.douban.com/celebrity/1420051/">张珈铭</a> / <a href="https://movie.douban.com/celebrity/1419997/">杨卫</a> / <a href="https://movie.douban.com/celebrity/1420965/">何禹祥</a> / <a href="https://movie.douban.com/celebrity/1420966/">任俊鹏</a> / <a href="https://movie.douban.com/celebrity/1422645/">刘霖竺</a> / <a href="https://movie.douban.com/celebrity/1422644/">大海</a> / <a href="https://movie.douban.com/celebrity/1422643/">陶渊</a> / <a href="https://movie.douban.com/celebrity/1422039/">李南</a> / <a href="https://movie.douban.com/celebrity/1421280/">杏林儿</a> / <a href="https://movie.douban.com/celebrity/1422697/">雨辰</a>
        </p>

        
            
        <p>
            <span class="pl">类型:</span>
                剧情, 喜剧, 动画, 奇幻
        </p>

        
            
        <p>
            <span class="pl">地区:</span>
                中国大陆
        </p>

        
            
        <p>
            <span class="pl">片长:</span>
                110分钟
        </p>

        
            
        <p>
            <span class="pl">上映:</span>
                2019-07-13(大规模点映), 2019-07-26(中国大陆)
        </p>

        <a class="trail_link" data-trailer-id="250477" href="https://movie.douban.com/trailer/250477/#content">预告片</a>
    </span>
</div>



    </div>
    <div id="dale_movie_subject_comments_bottom_right" ad-status="loaded"></div>
    <a href="https://help.douban.com/blackroom">&gt; 豆瓣违规公示</a>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    © 2005－2019 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/11f66a95f96b7f29.js"></script>
    
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '203701160',
            browserId = 'WXbuYGifT8w',
            criteria = '3:/subject/26794435/comments?start=60&amp;limit=20&amp;sort=new_score&amp;status=P',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_comments_bottom_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/YXhxazN0ei9mL2FkanMvN2JmMDcyOGVlOGJjNGNlNWRkZTkxNjk2NTA4YmMxOTMzOTdiOGNjZS9hZC5yZWxlYXNlLmpz');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- fram12-docker-->

  <script>_SPLITTEST=''</script>





<div id="search_suggest" style="display: none; top: 78px; left: 162.4px;"><ul></ul></div></body></html>