<html lang="zh-cmn-Hans" class="ua-windows ua-webkit"><head><script src="https://www.douban.com/j/doumail/num?callback=jsonp_t02oqgrdcnk379b" async=""></script><script src="https://www.douban.com/j/notification/num?callback=jsonp_gmermxif89z255g" async=""></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>

哪吒之魔童降世 短评
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="哪吒之魔童降世,影讯,排片,放映时间,电影票价,在线购票">
    <meta name="description" content="哪吒之魔童降世短评">
    <meta name="mobile-agent" content="format=html5; url=http://m.douban.com/movie/subject/26794435/comments">
    <script type="text/javascript" defer="" async="" src="https://img3.doubanio.com/dae/fundin/piwik.js"></script><script type="text/javascript" src="//img1.doubanio.com/YXhxazN0ei9mL2FkanMvN2JmMDcyOGVlOGJjNGNlNWRkZTkxNjk2NTA4YmMxOTMzOTdiOGNjZS9hZC5yZWxlYXNlLmpz" async="true"></script><script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/52c9997d6d42db58eab418e976a14d5f3eff981e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/1316664523258f7b8b536e4ce45afc9cb37b8963/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/27219466152855d9.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
<script src="https://ssl.google-analytics.com/ga.js" async="true"></script></head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>守护兽兽的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&amp;ck=AXRF">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;203701160&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;203701160&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;203701160&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;203701160&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;203701160&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;203701160&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;203701160&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com/?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;203701160&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆品</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "203701160",
    UPLOAD_AUTH_TOKEN: "203701160:2199e65e46c0721346a53a0f92cd51bc26d188c1",
    SSE_TOKEN: "77a1d1aedf1efef7bc15fecda1da35e37350e3db",
    SSE_TIMESTAMP: "1568259406",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https://movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value="" autocomplete="off"></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002">
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li><a href="https://movie.douban.com/mine">我看</a>
    </li>
    <li><a href="https://movie.douban.com/cinema/nowplaying/">影讯&amp;购票</a>
    </li>
    <li><a href="https://movie.douban.com/explore">选电影</a>
    </li>
    <li><a href="https://movie.douban.com/tv/">电视剧</a>
    </li>
    <li><a href="https://movie.douban.com/chart">排行榜</a>
    </li>
    <li><a href="https://movie.douban.com/tag/">分类</a>
    </li>
    <li><a href="https://movie.douban.com/review/best/">影评</a>
    </li>
    <li><a href="https://movie.douban.com/annual/2018?source=navigation">2018年度榜单</a>
    </li>
    <li><a href="https://www.douban.com/standbyme/2018?source=navigation">2018书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2018?source=movie_navigation" class="movieannual2018"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>哪吒之魔童降世 短评</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    



<div class="clearfix Comments-hd">
    <ul class="fleft CommentTabs">
            <li class="is-active">
                <span>看过(363636)</span>
            </li>

            <li>
                <a href="?status=F">想看(11162)</a>
            </li>
    </ul>
    <div class="fright">
        
        <a href="javascript:;" class="comment_btn j a_collect_btn" name="cbtn-26794435">我来写短评</a>
    </div>
</div>

    
    
    <div class="title_line clearfix color_gray">
        <div class="fleft Comments-sortby">
                <span>热门</span>
                    <a href="?sort=time&amp;status=P">最新</a>
            <a href="follows_comments?status=P">好友</a>
        </div>
    </div>

    <div class="comment-filter">
        <label>
            <input type="radio" name="sort" value="" checked="checked"><span class="filter-name">全部</span><span class="comment-percent"></span>
        </label>
        <label>
            <input type="radio" name="sort" value="h"><span class="filter-name">好评</span><span class="comment-percent">85%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="m"><span class="filter-name">一般</span><span class="comment-percent">10%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="l"><span class="filter-name">差评</span><span class="comment-percent">5%</span>
        </label>
    </div>

    <div class="mod-bd" id="comments">
        







    
        
        <div class="comment-item" data-cid="1265050750">
            
    
        <div class="avatar">
            <a title="比多" href="https://www.douban.com/people/yangui/">
                <img src="https://img1.doubanio.com/icon/u1083069-68.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">22</span>
                <input value="1265050750" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/yangui/" class="">比多</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2019-07-31 23:56:36">
                    2019-07-31
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">当哪吒说“这是我爸教我的”时，吐了。难怪人民日报和央视夸，这么懂事的哪吒也是难得。我只想问，我命真的由我吗？</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1865669625">
            
    
        <div class="avatar">
            <a title="麦小白" href="https://www.douban.com/people/MagicK/">
                <img src="https://img3.doubanio.com/icon/u2034976-123.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">28</span>
                <input value="1865669625" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/MagicK/" class="">麦小白</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-18 23:56:55">
                    2019-07-18
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">看完开始期待封神宇宙了。无厘头、卖萌、鸡汤、热血，商业动画片的黄金配方一个不落。像一道菜，每味佐料的比例都拿捏得恰到好处，是一道色香味俱佳的国民菜，今年暑期档爆款预订没跑了。自来水，推一波！</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1878180037">
            
    
        <div class="avatar">
            <a title="尾黑" href="https://www.douban.com/people/sdmscuhm/">
                <img src="https://img3.doubanio.com/icon/u1253807-5.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">35</span>
                <input value="1878180037" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/sdmscuhm/" class="">尾黑</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-27 20:41:03">
                    2019-07-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">父权制的代表李靖同学已经被洗白成暖心奶爸父爱如山了，所以哪吒这故事新编的意义何在？怼天怼地却不anti父权的哪吒到底又在anti个啥？“魔神二元论”基因编辑吗？以及申公豹变成了字面意义的豹子精我是拒绝的</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1886592142">
            
    
        <div class="avatar">
            <a title="德珈" href="https://www.douban.com/people/icaso/">
                <img src="https://img1.doubanio.com/icon/u4531352-28.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">10</span>
                <input value="1886592142" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/icaso/" class="">德珈</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-08-01 23:36:02">
                    2019-08-01
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">就是一部尴尬的闹剧，国人真的太宽容了，就像对斯斯与帆一样。79年版的哪吒20年后再看还会是经典。这一版3年后就成了垃圾。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1870611000">
            
    
        <div class="avatar">
            <a title="华盛顿樱桃树" href="https://www.douban.com/people/49213881/">
                <img src="https://img3.doubanio.com/icon/u49213881-4.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">11</span>
                <input value="1870611000" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/49213881/" class="">华盛顿樱桃树</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-22 13:36:11">
                    2019-07-22
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">每年都能看到国漫的新希望可真好。自由自在的创作，天马行空的想象力，令人开心又感动。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1876280784">
            
    
        <div class="avatar">
            <a title="墨墨" href="https://www.douban.com/people/babykitty/">
                <img src="https://img3.doubanio.com/icon/u1029880-1.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">41</span>
                <input value="1876280784" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/babykitty/" class="">墨墨</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-26 16:58:59">
                    2019-07-26
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">段子台词强行出戏，父慈子孝了呵呵</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1903310758">
            
    
        <div class="avatar">
            <a title="摸三" href="https://www.douban.com/people/148938440/">
                <img src="https://img3.doubanio.com/icon/u148938440-5.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">10</span>
                <input value="1903310758" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/148938440/" class="">摸三</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-08-11 23:48:38">
                    2019-08-11
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">抛却一切成见，心平气和观看本片，非常负责任地说一句，真的难看</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1883603471">
            
    
        <div class="avatar">
            <a title="陈皮子安" href="https://www.douban.com/people/67549297/">
                <img src="https://img3.doubanio.com/icon/u67549297-11.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">14</span>
                <input value="1883603471" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/67549297/" class="">陈皮子安</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-31 01:10:13">
                    2019-07-31
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">远远比不上老版，哪吒闹海的个人主义对抗父权社会，反规训的摇滚精神消耗殆尽，取而代之的是集体主义认可和嬉皮笑脸，最可怕的是将哪吒本身充沛的生命激情变为了邪恶，又用家庭和集体相混淆的方式进行洗涤。最后变为了父爱无疆，友谊万岁与女权主义对个人自由和性情挥毫的压抑。可见四十年来价值观的惊人变化。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1883392716">
            
    
        <div class="avatar">
            <a title="苏觋觋" href="https://www.douban.com/people/andysu/">
                <img src="https://img3.doubanio.com/icon/u1412335-46.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">21</span>
                <input value="1883392716" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/andysu/" class="">苏觋觋</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-30 23:05:45">
                    2019-07-30
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">哪吒真的太overrated了，本身这个神话故事的核是反父权的，是一个儿童朋克觉醒。但最后做成一个父慈子孝的合家欢，输出的价值观还是你要认识和定义你自己。我不懂感动点到底在哪？但制作水平是在线的，这只能说中国观众对一个及格线的作品是多么渴求和宽容。 </span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1861426368">
            
    
        <div class="avatar">
            <a title="姬长安" href="https://www.douban.com/people/lhlqzhuge/">
                <img src="https://img3.doubanio.com/icon/u3551155-23.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">22</span>
                <input value="1861426368" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/lhlqzhuge/" class="">姬长安</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-15 19:47:39">
                    2019-07-15
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">我来提前预测2019暑期的第一爆我的亲亲话唠混世魔王小吒吒&amp;将上影版的刻板印象中象征无上父权的李靖和逆天改命颠覆父权的哪吒做完全彻底的新改编是要有很大勇气的，但是电影却用人心最柔软的地方做了非常合适的魔改，连哪吒和敖丙这对夙世冤家都能走向生命的大和谐还让我落了好多泪真的绝了&amp;画面太过流畅丰富笑点蕴含在整个电影的叙事节奏里密集又恰当！</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1889162369">
            
    
        <div class="avatar">
            <a title="雪·法妮奥" href="https://www.douban.com/people/trininottrinity/">
                <img src="https://img3.doubanio.com/icon/u60997951-5.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">8</span>
                <input value="1889162369" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/trininottrinity/" class="">雪·法妮奥</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-08-03 17:02:52">
                    2019-08-03
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">看得又哭又笑！不过李靖夫妻你们给我说说，你们管哪吒叫吒儿，金吒木吒难道不配拥有姓名？</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1878018281">
            
    
        <div class="avatar">
            <a title="刮刮油" href="https://www.douban.com/people/LordBean/">
                <img src="https://img3.doubanio.com/icon/u4890144-11.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">16</span>
                <input value="1878018281" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/LordBean/" class="">刮刮油</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-27 18:51:18">
                    2019-07-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">虽然人物性格都改了，但是挺好看。大场面前的配乐段起始跟《战神》的配乐……玩过都能听出来。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1886525468">
            
    
        <div class="avatar">
            <a title="fwb" href="https://www.douban.com/people/fwb/">
                <img src="https://img3.doubanio.com/icon/u1268454-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">15</span>
                <input value="1886525468" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/fwb/" class="">fwb</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-08-01 23:02:45">
                    2019-08-01
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">我看哪吒，就是抱着观察代沟的角度去看的。因为票圈零星金句所代表的片子主题，不出我所料，一定会打动网络时代活在众人（庸众）普世价值观“无所不在凝视”之中、想要喘口气做回自己（有没有自己另说）的乖顺年轻人的心灵。片子把这个故事所蕴含的原本直刺中国传统文化中最隆重的父母与孩子关系的惨烈故事，柔化成了带入感极强、（小）中产、乖孩子主流心态的父母关系中，做自己，善战胜恶，父母、师傅为孩子奋不顾身………一部不错的主流商业片，为了支持国产动画片，我不后悔花钱买票进影院。对我来说最有趣的，是观察今天能说服年轻人的场景想象、像素精度，以及中国动画片如何在迪士尼和日漫夹击中慢慢摸索自己审美语言的那个过渡………</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1877221014">
            
    
        <div class="avatar">
            <a title="SebMia" href="https://www.douban.com/people/140600744/">
                <img src="https://img3.doubanio.com/icon/u140600744-1.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">12</span>
                <input value="1877221014" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/140600744/" class="">SebMia</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-27 09:04:03">
                    2019-07-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">看到《哪吒》将《银河补习班》挤下马我就放心了，祖国的花朵总算是得救了。同样是讲教育，哪吒只用心讲了一个道理：命运并非天注定，而是掌握在自己手里的。却比银河乱七八糟讲了一大堆要有用百倍。若不是为了迎合大众而刻意网络潮流化的台词和配音拖了后腿的话，就真的值8分以上了。7.5/10，四星鼓励。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1864289708">
            
    
        <div class="avatar">
            <a title="挪威耀阳" href="https://www.douban.com/people/lwyady/">
                <img src="https://img3.doubanio.com/icon/u103296640-1.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">33</span>
                <input value="1864289708" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/lwyady/" class="">挪威耀阳</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-17 23:15:36">
                    2019-07-17
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">终结者“降生圆坑”、瓦力“触碰星河”、喜剧之王“自我修养”、三处迷影梗致敬，以及片尾的三个彩蛋很哪吒~</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1880576986">
            
    
        <div class="avatar">
            <a title="Mumu" href="https://www.douban.com/people/shawxx/">
                <img src="https://img3.doubanio.com/icon/u1481725-34.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">28</span>
                <input value="1880576986" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/shawxx/" class="">Mumu</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-29 06:16:34">
                    2019-07-29
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">都是上流社会在折腾，愚民只有跪拜的份儿。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1876512331">
            
    
        <div class="avatar">
            <a title="Faidon" href="https://www.douban.com/people/chorious/">
                <img src="https://img3.doubanio.com/icon/u63233165-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">27</span>
                <input value="1876512331" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/chorious/" class="">Faidon</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-07-28 19:00:08">
                    2019-07-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">几乎迪士尼、超英、港片、日漫等类型片的元素都有，内核是好莱坞的，选择支撑剧情的情感线也是好莱坞正确的父爱和日式的无人认可的友情。感觉自己有些mean，但看的过程中颇感不适，相当vomitous,不及港片远矣...果然《悟空传》是难得的。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1868262547">
            
    
        <div class="avatar">
            <a title="glim" href="https://www.douban.com/people/glim/">
                <img src="https://img3.doubanio.com/icon/u1301668-166.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">14</span>
                <input value="1868262547" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/glim/" class="">glim</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-20 22:31:42">
                    2019-07-20
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">人，不能认命，不然就会变成他们希望你变成的样子</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1876920148">
            
    
        <div class="avatar">
            <a title="王恶" href="https://www.douban.com/people/kid007spy/">
                <img src="https://img3.doubanio.com/icon/u3110845-21.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">10</span>
                <input value="1876920148" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/kid007spy/" class="">王恶</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-27 00:14:04">
                    2019-07-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">我做过四个有关哪吒的项目，总是各种原因没成。无关哪吒的项目成活率90%+，有关哪吒的项目成活率0%。可是其他项目我做完就忘了，哪吒的故事始终倒背如流。前年甚至做了一个类似《勇者义彦》的《太乙真人》，是一个神仙体系+山海经+无厘头的单元剧。影视行业最缺的是信任感、安全感，我没有名气，所以没人为我的idea投钱。这就是我看电影时想到的全部，我没有名气，是我亟待解决的问题。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1858725439">
            
    
        <div class="avatar">
            <a title="影探·探长" href="https://www.douban.com/people/178131964/">
                <img src="https://img3.doubanio.com/icon/u178131964-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">16</span>
                <input value="1858725439" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/178131964/" class="">影探·探长</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-13 21:08:29">
                    2019-07-13
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">点映。加一星鼓励国漫·真崛起。要爆！虽然有点槽点，但整体不比《大圣归来》差。 宣发实在太差，到现在演职员表只有导演一个人？</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>






        <div id="paginator" class="center">
                <a href="?start=0&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="1">&lt;&lt; 首页</a>
                <a href="?start=259&amp;limit=-20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="">&lt; 前页</a>
                <a href="?start=280&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="" class="next">后页 &gt;</a>
        </div>



<script type="text/javascript" src="https://img3.doubanio.com/f/shire/a14501790b4a2db257dc5be5e37d820e600703c6/js/report_dialog.js"></script>
<link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/b45aa277f8b8df40596b96582dafb1ed0a899a64/css/report_dialog.css">




        
        
    </div>

            </div>
            <div class="aside">
                

    
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/26794435/">去 哪吒之魔童降世 的页面</a></p>

    <div class="indent">
        









<div class="movie-summary">
        <div class="movie-pic"><a href="https://movie.douban.com/subject/26794435/"><img alt="哪吒之魔童降世" title="哪吒之魔童降世" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2563780504.webp" rel="v:image" width="100px"></a></div>
    <span class="attrs">
        
            
        <p>
            <span class="pl">导演:</span>
                <a href="https://movie.douban.com/celebrity/1328441/">饺子</a>
        </p>

        
            
        <p>
            <span class="pl">主演:</span>
                <a href="https://movie.douban.com/celebrity/1419996/">吕艳婷</a> / <a href="https://movie.douban.com/celebrity/1400125/">囧森瑟夫</a> / <a href="https://movie.douban.com/celebrity/1400124/">瀚墨</a> / <a href="https://movie.douban.com/celebrity/1329520/">陈浩</a> / <a href="https://movie.douban.com/celebrity/1372724/">绿绮</a> / <a href="https://movie.douban.com/celebrity/1420051/">张珈铭</a> / <a href="https://movie.douban.com/celebrity/1419997/">杨卫</a> / <a href="https://movie.douban.com/celebrity/1420965/">何禹祥</a> / <a href="https://movie.douban.com/celebrity/1420966/">任俊鹏</a> / <a href="https://movie.douban.com/celebrity/1422645/">刘霖竺</a> / <a href="https://movie.douban.com/celebrity/1422644/">大海</a> / <a href="https://movie.douban.com/celebrity/1422643/">陶渊</a> / <a href="https://movie.douban.com/celebrity/1422039/">李南</a> / <a href="https://movie.douban.com/celebrity/1421280/">杏林儿</a> / <a href="https://movie.douban.com/celebrity/1422697/">雨辰</a>
        </p>

        
            
        <p>
            <span class="pl">类型:</span>
                剧情, 喜剧, 动画, 奇幻
        </p>

        
            
        <p>
            <span class="pl">地区:</span>
                中国大陆
        </p>

        
            
        <p>
            <span class="pl">片长:</span>
                110分钟
        </p>

        
            
        <p>
            <span class="pl">上映:</span>
                2019-07-13(大规模点映), 2019-07-26(中国大陆)
        </p>

        <a class="trail_link" data-trailer-id="250477" href="https://movie.douban.com/trailer/250477/#content">预告片</a>
    </span>
</div>



    </div>
    <div id="dale_movie_subject_comments_bottom_right" ad-status="loaded"></div>
    <a href="https://help.douban.com/blackroom">&gt; 豆瓣违规公示</a>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    © 2005－2019 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/6800f05b59a0f0b4.js"></script><script type="text/javascript">

        $.each($("#comments:not('.sns-comments') .comment-item ".concat('.comment')), function(i, el){
            if ($(el).find(".comment-report").length==0){
              $(el).append('<div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div>');
            }
        });

        $('#comments').on('click', '.a_vote_comment',function(e){
            e.stopImmediatePropagation()
            var is_released = true,
                txt_released = "该电影还未上映，不能投票噢";

            if(!is_released && "P" === 'P') {
                alert(txt_released)
                return
            }
            var v = $(this).prev().prev(), id = $(this).prev().val();
            $.postJSON_withck('/j/comment/vote', {id: id}, function(r){
                if (r.r === 0 && r.count) {
                    v.text(r.count);
                } else if (r.r === 1) {
                    alert(r.msg);
                }
            })
        });

        window.percent_type = "";
        window.page_start = 260;
        window.page_limit = 20;
        window.page_status = "P";
        window.page_sort = "new_score";
        window.lastCommentsXhr = null;

        $(".comment-filter input[type='radio']").click(function(e){
            if($(this).val() === window.percent_type) return;
            if($('.comment-filter').data('doing')) {
                e.preventDefault();
                return;
            };

            window.percent_type = $(this).val();
            window.page_start = 0;
            updateUrl();

            $('.comment-filter').data('doing', true);
            $("#comments").html('<div class="comment-loading">载入中...</div>');
            $('#comments .comment-item').remove();

            updateComments();
        });

        $('#comments').delegate('#paginator a', 'click', function(e){
            e.preventDefault();

            if($(this).text().indexOf('首') !== -1){
                window.page_start = 0;
            }else if($(this).text().indexOf('前') !== -1){
                window.page_start -= window.page_limit;
            }else{
                window.page_start += window.page_limit;
            }

            window.page_start = window.page_start < 0 ? 0 : window.page_start;

            updateUrl();

            $('.comment-filter').data('doing');
            $("#comments").html('<div class="comment-loading">载入中...</div>');

            updateComments();
        });

        function updateComments(){
            window.lastCommentsXhr && window.lastCommentsXhr.abort();
            var url = '/subject/26794435/comments' + createUrlSearch() + '&comments_only=1';
            window.lastCommentsXhr = $.get(url, function(res){
                if(res.r === 0){
                    $("#comments").html(res.html);
                    $('.comment-filter').removeData('doing');
                    $('.comment-filter').get(0).scrollIntoViewIfNeeded();
                }
            })
        }

        function createPageState(){
            return {
                percent_type: window.percent_type,
                start: window.page_start,
                limit: window.page_limit,
                sort: window.page_sort,
                status: window.page_status
            }
        }

        function createUrlSearch(){
            return '?start=' + window.page_start + '&limit=' + window.page_limit + '&sort=' + window.page_sort + '&status=' + window.page_status + (window.percent_type ? '&percent_type=' + window.percent_type : '');
        }

        function updateUrl(){
            window.history && window.history.pushState(createPageState(), null, createUrlSearch());
        }

        window.onpopstate = function(e){
            var pageState = e.state;
            window.percent_type = pageState.percent_type;
            window.page_start = pageState.start;
            window.page_limit = pageState.limit;
            window.page_sort = pageState.sort;
            window.page_status = pageState.status;
            $("#comments").html('<div class="comment-loading">载入中...</div>');
            $('.comment-filter input[value="' + window.percent_type + '"]').get(0).checked = true;
            updateComments();
        }
    </script>
    
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '203701160',
            browserId = 'WXbuYGifT8w',
            criteria = '3:/subject/26794435/comments?start=260&amp;limit=20&amp;sort=new_score&amp;status=P',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_comments_bottom_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/YXhxazN0ei9mL2FkanMvN2JmMDcyOGVlOGJjNGNlNWRkZTkxNjk2NTA4YmMxOTMzOTdiOGNjZS9hZC5yZWxlYXNlLmpz');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- fram41-docker-->

  <script>_SPLITTEST=''</script>





<div id="search_suggest" style="display: none; top: 78px; left: 162.4px;"><ul></ul></div></body></html>