<html lang="zh-cmn-Hans" class="ua-windows ua-webkit"><head><script src="https://www.douban.com/j/doumail/num?callback=jsonp_eg1l8uevgwgzm8b" async=""></script><script src="https://www.douban.com/j/notification/num?callback=jsonp_xbfptsspszakeba" async=""></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>

哪吒之魔童降世 短评
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="哪吒之魔童降世,影讯,排片,放映时间,电影票价,在线购票">
    <meta name="description" content="哪吒之魔童降世短评">
    <meta name="mobile-agent" content="format=html5; url=http://m.douban.com/movie/subject/26794435/comments">
    <script type="text/javascript" defer="" async="" src="https://img3.doubanio.com/dae/fundin/piwik.js"></script><script type="text/javascript" src="//img1.doubanio.com/YXhxazN0ei9mL2FkanMvN2JmMDcyOGVlOGJjNGNlNWRkZTkxNjk2NTA4YmMxOTMzOTdiOGNjZS9hZC5yZWxlYXNlLmpz" async="true"></script><script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/52c9997d6d42db58eab418e976a14d5f3eff981e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/1316664523258f7b8b536e4ce45afc9cb37b8963/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/27219466152855d9.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
<script src="https://ssl.google-analytics.com/ga.js" async="true"></script></head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>守护兽兽的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&amp;ck=AXRF">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;203701160&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;203701160&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;203701160&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;203701160&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;203701160&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;203701160&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;203701160&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com/?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;203701160&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆品</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "203701160",
    UPLOAD_AUTH_TOKEN: "203701160:2199e65e46c0721346a53a0f92cd51bc26d188c1",
    SSE_TOKEN: "c3d39291947800e87bf3f03ad65f6b95cbfc8b98",
    SSE_TIMESTAMP: "1568259442",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https://movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value="" autocomplete="off"></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002">
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li><a href="https://movie.douban.com/mine">我看</a>
    </li>
    <li><a href="https://movie.douban.com/cinema/nowplaying/">影讯&amp;购票</a>
    </li>
    <li><a href="https://movie.douban.com/explore">选电影</a>
    </li>
    <li><a href="https://movie.douban.com/tv/">电视剧</a>
    </li>
    <li><a href="https://movie.douban.com/chart">排行榜</a>
    </li>
    <li><a href="https://movie.douban.com/tag/">分类</a>
    </li>
    <li><a href="https://movie.douban.com/review/best/">影评</a>
    </li>
    <li><a href="https://movie.douban.com/annual/2018?source=navigation">2018年度榜单</a>
    </li>
    <li><a href="https://www.douban.com/standbyme/2018?source=navigation">2018书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2018?source=movie_navigation" class="movieannual2018"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>哪吒之魔童降世 短评</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    



<div class="clearfix Comments-hd">
    <ul class="fleft CommentTabs">
            <li class="is-active">
                <span>看过(363636)</span>
            </li>

            <li>
                <a href="?status=F">想看(11162)</a>
            </li>
    </ul>
    <div class="fright">
        
        <a href="javascript:;" class="comment_btn j a_collect_btn" name="cbtn-26794435">我来写短评</a>
    </div>
</div>

    
    
    <div class="title_line clearfix color_gray">
        <div class="fleft Comments-sortby">
                <span>热门</span>
                    <a href="?sort=time&amp;status=P">最新</a>
            <a href="follows_comments?status=P">好友</a>
        </div>
    </div>

    <div class="comment-filter">
        <label>
            <input type="radio" name="sort" value="" checked="checked"><span class="filter-name">全部</span><span class="comment-percent"></span>
        </label>
        <label>
            <input type="radio" name="sort" value="h"><span class="filter-name">好评</span><span class="comment-percent">85%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="m"><span class="filter-name">一般</span><span class="comment-percent">10%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="l"><span class="filter-name">差评</span><span class="comment-percent">5%</span>
        </label>
    </div>

    <div class="mod-bd" id="comments">
        







    
        
        <div class="comment-item" data-cid="1877658907">
            
    
        <div class="avatar">
            <a title="德川咪咪" href="https://www.douban.com/people/zhangxy1326/">
                <img src="https://img3.doubanio.com/icon/u2969861-10.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">5</span>
                <input value="1877658907" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/zhangxy1326/" class="">德川咪咪</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-27 14:53:53">
                    2019-07-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">也太好看了吧！</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1865458812">
            
    
        <div class="avatar">
            <a title="JOJOORC/Z" href="https://www.douban.com/people/jojoorc/">
                <img src="https://img1.doubanio.com/icon/u1322447-169.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">14</span>
                <input value="1865458812" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/jojoorc/" class="">JOJOORC/Z</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-18 21:35:51">
                    2019-07-18
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">感觉看了部动画版的中期周星驰电影，很多笑点有即视感。制作和节奏不错，但是我确实不吃这样表达的父子情和友情，大圣最后那种激昂感更好些。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1868140908">
            
    
        <div class="avatar">
            <a title="SleepingBruce" href="https://www.douban.com/people/131861906/">
                <img src="https://img3.doubanio.com/icon/u131861906-16.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">6</span>
                <input value="1868140908" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/131861906/" class="">SleepingBruce</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-20 21:14:12">
                    2019-07-20
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">【83】个人觉得整体水准已经能够算入皮克斯中流。这次是用反英雄的内核重新解构传统神话故事，虽然“打破成见”、“做自己”之类的主题内容在类型文本中已不鲜见，但《哪吒》有着流畅的节奏把控，清晰的情绪刻画，以及鲜明的角色定位，所以它的剧作依旧不失为一个成熟的类型动画范本。而制作者对于各式类型元素的娴熟运用更是令人惊艳，国产动画早已克服了技术上的难关，而如今终于在艺术上重回巅峰。初入江山社稷图、海边夕阳踢毽、还有最后的混元入星相，好几处场景设计都能称得上是奇观，动作分镜的出彩也毋须多言。不管怎么样，作为一部国产动画，这部作品都值得人们的赞誉，而不只是所谓的鼓励。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1866773928">
            
    
        <div class="avatar">
            <a title="荒淫少女朴赞郁" href="https://www.douban.com/people/bushuai1/">
                <img src="https://img3.doubanio.com/icon/u2359245-34.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">62</span>
                <input value="1866773928" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/bushuai1/" class="">荒淫少女朴赞郁</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-19 21:46:14">
                    2019-07-19
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">全程冷漠脸，最近这种套路的电影真的看的完全无感，哎～吃的多了，嘴就叼了，故事和技术都挺好的，可就是吃不下了……</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1866329812">
            
    
        <div class="avatar">
            <a title="竹棘" href="https://www.douban.com/people/zhujisumi/">
                <img src="https://img3.doubanio.com/icon/u133083673-3.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">10</span>
                <input value="1866329812" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/zhujisumi/" class="">竹棘</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-19 15:27:09">
                    2019-07-19
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">看了点映，爆笑爆虐又爆燃，后半程狂哭不止。好看的动画电影真的是文化宝藏。联想到京阿尼的火灾损失了那么多原画和人才，损失了未来本应现世的优秀作品，心态又崩了哭得更凶。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1886852689">
            
    
        <div class="avatar">
            <a title="Lee" href="https://www.douban.com/people/171299913/">
                <img src="https://img3.doubanio.com/icon/u171299913-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">18</span>
                <input value="1886852689" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/171299913/" class="">Lee</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2019-08-02 06:09:30">
                    2019-08-02
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">7分已经是对国漫的褒奖了，瞎吹瞎捧个啥玩意，浪费百来块钱，视效有进步，笑点低趣，适合女生及12岁以下儿童观看。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1874846888">
            
    
        <div class="avatar">
            <a title="八月槎" href="https://www.douban.com/people/quills/">
                <img src="https://img1.doubanio.com/icon/u1033955-18.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">7</span>
                <input value="1874846888" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/quills/" class="">八月槎</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-25 16:28:48">
                    2019-07-25
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">当年看《大圣归来》的感觉又复苏了，现在中国动漫终于不用羡慕梦工厂皮克斯了</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1883862518">
            
    
        <div class="avatar">
            <a title="小也羊子" href="https://www.douban.com/people/puhongyu/">
                <img src="https://img3.doubanio.com/icon/u48768184-55.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">6</span>
                <input value="1883862518" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/puhongyu/" class="">小也羊子</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-07-31 09:33:01">
                    2019-07-31
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">本想看悲剧，没想到只是一出闹剧，而且笑不出来。对比起《哪吒闹海》里小哪吒在风雨里自刎的背影，就莫名伤感。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1880763657">
            
    
        <div class="avatar">
            <a title="VeryGZ" href="https://www.douban.com/people/GZ/">
                <img src="https://img1.doubanio.com/icon/u1576610-119.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">17</span>
                <input value="1880763657" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/GZ/" class="">VeryGZ</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-07-29 10:38:48">
                    2019-07-29
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">7.14@卢米埃 还是很低幼，抖机灵台词更无法接受。现在看来依旧能给大鱼4星的理由可能只因它不“喜剧”。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1880534575">
            
    
        <div class="avatar">
            <a title="🌾 Romia" href="https://www.douban.com/people/R0MIA/">
                <img src="https://img3.doubanio.com/icon/u66526342-41.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">39</span>
                <input value="1880534575" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/R0MIA/" class="">🌾 Romia</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-07-29 03:17:53">
                    2019-07-29
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">1.5星。貌似我是打分最低的？真的不喜欢，比我打了一星的那几部电影稍微好点吧。
国产片塑造人物性格有个像"道德绑架"一样的套路，喜欢通过个别事例以偏概全的塑造人物性格，这部尤其如此。朋友间反目成仇的剧情，龙族为何是反派都缺乏铺垫，但是硬要把敖丙塑造成一个夹在正反派之间左右为难的人不觉得很可笑吗？不觉得到后来因为朋友情，师兄弟情。正反派之间的界限更模糊了吗？
再来说说备受好评的"个人意识"。护子心切的父母，对徒弟爱恨交加的师傅统统都是正面的，反而饱受折磨的乡亲，没有交待来由却成了反派的龙族却是反面形象。当我们受不了电影院胡闹的小孩，为什么反过来为凭借"个人意识"去扰乱村庄的哪吒叫好？要知道哪吒起初被拘束是因为她的扰乱的乡亲的生活。
越到结尾高潮我反而越平静，影片的三观和人设彻底证实了我的判断。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1901126784">
            
    
        <div class="avatar">
            <a title="Homo sapiens" href="https://www.douban.com/people/4363723/">
                <img src="https://img3.doubanio.com/icon/u4363723-15.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">4</span>
                <input value="1901126784" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/4363723/" class="">Homo sapiens</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2019-08-10 23:27:17">
                    2019-08-10
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">又名“熊孩子之我说我不是熊孩子我就不是”。请国产动画不要再提前消耗自己的口碑（如果有的话），再这样我以后一部都不会看。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1852919382">
            
    
        <div class="avatar">
            <a title="glow" href="https://www.douban.com/people/glowxx/">
                <img src="https://img1.doubanio.com/icon/u35253543-69.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">9</span>
                <input value="1852919382" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/glowxx/" class="">glow</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-21 18:34:34">
                    2019-07-21
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">可以说是年度国产电影最佳了，开始没看的时候看到网友评分这么高还在想是不是虚高。现在看完不是的，真的很喜欢这个改编，除了那些村民，听风就是风听风雨就是雨，每个人的人物设定都立得住。
龙族太惨了，敖丙太帅了，哪吒变身之后也是帅，没变身的时候是个腹黑娃娃。
当年还在上大学的时候，就看过导演的《打个大西瓜》，一个不是科班出身就因为爱好做了短片，到今年当了导演做了长篇，说实话，真的很佩服他。
应该还是有下一集的吧，期待吧！</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1859932606">
            
    
        <div class="avatar">
            <a title="不脱袜子同学" href="https://www.douban.com/people/lelio/">
                <img src="https://img3.doubanio.com/icon/u2891681-25.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">9</span>
                <input value="1859932606" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/lelio/" class="">不脱袜子同学</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-14 17:46:26">
                    2019-07-14
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">听到某神仙的“川普”突然想到了一个梗，就是真正的四川人是分不清“娜扎”和“哪吒”的，哈哈哈！亲情线很动人，但是金吒和木吒去哪儿啦？有颠覆有创新，挺精致的。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1885752614">
            
    
        <div class="avatar">
            <a title="巴伐利亞酒神" href="https://www.douban.com/people/darkwood/">
                <img src="https://img3.doubanio.com/icon/u1218430-446.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">3</span>
                <input value="1885752614" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/darkwood/" class="">巴伐利亞酒神</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-08-01 14:48:13">
                    2019-08-01
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">哪吒恶童的出身，和Hellboy的套路太像了吧。封神榜那么多妖魔鬼怪，你要拍一个三界版复联么？看预告片下作是姜子牙，倒是更期待杨戬呢。前提是这个系列继续下去。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1881185598">
            
    
        <div class="avatar">
            <a title="Juillet.🌳" href="https://www.douban.com/people/vip_fiona/">
                <img src="https://img3.doubanio.com/icon/u1520402-420.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">3</span>
                <input value="1881185598" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/vip_fiona/" class="">Juillet.🌳</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-29 15:58:43">
                    2019-07-29
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">改编不是不可以，但我认为删去哪吒「断臂剖腹，剜肠剔骨，还于父母」的情节，就等于删去了哪吒这个神话人物最深层次的立意：骨肉可以还给你，人格、精神永远独立。电影想颂扬的是一种普世价值观，近年来流行的「我命由我」精神，很可贵。然而如若能从另一个维度去讨论亲子关系，我认为更能彰显哪吒这一人物的独特性。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1886496725">
            
    
        <div class="avatar">
            <a title="crusader" href="https://www.douban.com/people/CrusaderTan/">
                <img src="https://img3.doubanio.com/icon/u4240773-90.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">11</span>
                <input value="1886496725" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/CrusaderTan/" class="">crusader</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2019-08-01 22:48:22">
                    2019-08-01
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">粗俗过了。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1867973814">
            
    
        <div class="avatar">
            <a title="狂狷的ET抖S" href="https://www.douban.com/people/lutsdoll/">
                <img src="https://img3.doubanio.com/icon/u4473263-55.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">3</span>
                <input value="1867973814" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/lutsdoll/" class="">狂狷的ET抖S</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-20 19:04:41">
                    2019-07-20
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">哪吒x熬丙我磕到昏迷，自古红蓝是cp！！！！！！</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1916572954">
            
    
        <div class="avatar">
            <a title="火娃" href="https://www.douban.com/people/70990506/">
                <img src="https://img3.doubanio.com/icon/u70990506-12.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">5</span>
                <input value="1916572954" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/70990506/" class="">火娃</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-08-19 21:29:15">
                    2019-08-19
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">7/10。对天命这种权威的反叛成为了叙事动力，哪吒和敖丙相爱相杀的这一对正好是天珠转世的一体两面：龙王对天的顺从并不能换取真正的自由，反而被囚禁于龙宫，而李靖用换命符逆天改命的行为，除了象征父爱力的量下拯救和开化，也体现了一个天命的秩序维护者（他不敢像妻子一样为生不出来叫嚣着砸祠堂），对权威最懦弱的反抗，结尾哪吒释放了乾坤圈封住的力量，托举起覆灭陈塘关的巨大冰块，凭借意志反抗了天命的选择，敖丙也选择与哪吒同生共死反抗了家族权威的使命。形式上不断做着对神权的消解：太乙真人变成骑着猪的啤酒肚大叔，申公豹说话结巴，哪吒非常“丧”的黑眼圈尖牙齿，都将至高无上的天神降格为世俗凡人，但讽刺的是叙事内核还是一个被温驯的异类回归正常秩序（成长为保卫百姓的英雄），传统又保守。踢毽子穿铠甲、庆生像办丧几处勉强好笑。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1861869338">
            
    
        <div class="avatar">
            <a title="六隐" href="https://www.douban.com/people/jamhippy/">
                <img src="https://img1.doubanio.com/icon/u1460761-37.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">8</span>
                <input value="1861869338" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/jamhippy/" class="">六隐</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-26 23:29:56">
                    2019-07-26
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">我不想吹毛求疵鸡蛋里挑骨头，就是喜欢。多加一星支持中国动画人。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1876897329">
            
    
        <div class="avatar">
            <a title="孟小扬" href="https://www.douban.com/people/158447357/">
                <img src="https://img3.doubanio.com/icon/u158447357-2.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">7</span>
                <input value="1876897329" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/158447357/" class="">孟小扬</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-27 00:00:21">
                    2019-07-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">哪吒既然是“三公子”，那金吒和木吒呢？</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>






        <div id="paginator" class="center">
                <a href="?start=0&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="1">&lt;&lt; 首页</a>
                <a href="?start=439&amp;limit=-20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="">&lt; 前页</a>
                <a href="?start=460&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="" class="next">后页 &gt;</a>
        </div>



<script type="text/javascript" src="https://img3.doubanio.com/f/shire/a14501790b4a2db257dc5be5e37d820e600703c6/js/report_dialog.js"></script>
<link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/b45aa277f8b8df40596b96582dafb1ed0a899a64/css/report_dialog.css">




        
        
    </div>

            </div>
            <div class="aside">
                

    
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/26794435/">去 哪吒之魔童降世 的页面</a></p>

    <div class="indent">
        









<div class="movie-summary">
        <div class="movie-pic"><a href="https://movie.douban.com/subject/26794435/"><img alt="哪吒之魔童降世" title="哪吒之魔童降世" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2563780504.webp" rel="v:image" width="100px"></a></div>
    <span class="attrs">
        
            
        <p>
            <span class="pl">导演:</span>
                <a href="https://movie.douban.com/celebrity/1328441/">饺子</a>
        </p>

        
            
        <p>
            <span class="pl">主演:</span>
                <a href="https://movie.douban.com/celebrity/1419996/">吕艳婷</a> / <a href="https://movie.douban.com/celebrity/1400125/">囧森瑟夫</a> / <a href="https://movie.douban.com/celebrity/1400124/">瀚墨</a> / <a href="https://movie.douban.com/celebrity/1329520/">陈浩</a> / <a href="https://movie.douban.com/celebrity/1372724/">绿绮</a> / <a href="https://movie.douban.com/celebrity/1420051/">张珈铭</a> / <a href="https://movie.douban.com/celebrity/1419997/">杨卫</a> / <a href="https://movie.douban.com/celebrity/1420965/">何禹祥</a> / <a href="https://movie.douban.com/celebrity/1420966/">任俊鹏</a> / <a href="https://movie.douban.com/celebrity/1422645/">刘霖竺</a> / <a href="https://movie.douban.com/celebrity/1422644/">大海</a> / <a href="https://movie.douban.com/celebrity/1422643/">陶渊</a> / <a href="https://movie.douban.com/celebrity/1422039/">李南</a> / <a href="https://movie.douban.com/celebrity/1421280/">杏林儿</a> / <a href="https://movie.douban.com/celebrity/1422697/">雨辰</a>
        </p>

        
            
        <p>
            <span class="pl">类型:</span>
                剧情, 喜剧, 动画, 奇幻
        </p>

        
            
        <p>
            <span class="pl">地区:</span>
                中国大陆
        </p>

        
            
        <p>
            <span class="pl">片长:</span>
                110分钟
        </p>

        
            
        <p>
            <span class="pl">上映:</span>
                2019-07-13(大规模点映), 2019-07-26(中国大陆)
        </p>

        <a class="trail_link" data-trailer-id="250477" href="https://movie.douban.com/trailer/250477/#content">预告片</a>
    </span>
</div>



    </div>
    <div id="dale_movie_subject_comments_bottom_right" ad-status="loaded"></div>
    <a href="https://help.douban.com/blackroom">&gt; 豆瓣违规公示</a>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    © 2005－2019 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/6800f05b59a0f0b4.js"></script><script type="text/javascript">

        $.each($("#comments:not('.sns-comments') .comment-item ".concat('.comment')), function(i, el){
            if ($(el).find(".comment-report").length==0){
              $(el).append('<div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div>');
            }
        });

        $('#comments').on('click', '.a_vote_comment',function(e){
            e.stopImmediatePropagation()
            var is_released = true,
                txt_released = "该电影还未上映，不能投票噢";

            if(!is_released && "P" === 'P') {
                alert(txt_released)
                return
            }
            var v = $(this).prev().prev(), id = $(this).prev().val();
            $.postJSON_withck('/j/comment/vote', {id: id}, function(r){
                if (r.r === 0 && r.count) {
                    v.text(r.count);
                } else if (r.r === 1) {
                    alert(r.msg);
                }
            })
        });

        window.percent_type = "";
        window.page_start = 440;
        window.page_limit = 20;
        window.page_status = "P";
        window.page_sort = "new_score";
        window.lastCommentsXhr = null;

        $(".comment-filter input[type='radio']").click(function(e){
            if($(this).val() === window.percent_type) return;
            if($('.comment-filter').data('doing')) {
                e.preventDefault();
                return;
            };

            window.percent_type = $(this).val();
            window.page_start = 0;
            updateUrl();

            $('.comment-filter').data('doing', true);
            $("#comments").html('<div class="comment-loading">载入中...</div>');
            $('#comments .comment-item').remove();

            updateComments();
        });

        $('#comments').delegate('#paginator a', 'click', function(e){
            e.preventDefault();

            if($(this).text().indexOf('首') !== -1){
                window.page_start = 0;
            }else if($(this).text().indexOf('前') !== -1){
                window.page_start -= window.page_limit;
            }else{
                window.page_start += window.page_limit;
            }

            window.page_start = window.page_start < 0 ? 0 : window.page_start;

            updateUrl();

            $('.comment-filter').data('doing');
            $("#comments").html('<div class="comment-loading">载入中...</div>');

            updateComments();
        });

        function updateComments(){
            window.lastCommentsXhr && window.lastCommentsXhr.abort();
            var url = '/subject/26794435/comments' + createUrlSearch() + '&comments_only=1';
            window.lastCommentsXhr = $.get(url, function(res){
                if(res.r === 0){
                    $("#comments").html(res.html);
                    $('.comment-filter').removeData('doing');
                    $('.comment-filter').get(0).scrollIntoViewIfNeeded();
                }
            })
        }

        function createPageState(){
            return {
                percent_type: window.percent_type,
                start: window.page_start,
                limit: window.page_limit,
                sort: window.page_sort,
                status: window.page_status
            }
        }

        function createUrlSearch(){
            return '?start=' + window.page_start + '&limit=' + window.page_limit + '&sort=' + window.page_sort + '&status=' + window.page_status + (window.percent_type ? '&percent_type=' + window.percent_type : '');
        }

        function updateUrl(){
            window.history && window.history.pushState(createPageState(), null, createUrlSearch());
        }

        window.onpopstate = function(e){
            var pageState = e.state;
            window.percent_type = pageState.percent_type;
            window.page_start = pageState.start;
            window.page_limit = pageState.limit;
            window.page_sort = pageState.sort;
            window.page_status = pageState.status;
            $("#comments").html('<div class="comment-loading">载入中...</div>');
            $('.comment-filter input[value="' + window.percent_type + '"]').get(0).checked = true;
            updateComments();
        }
    </script>
    
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '203701160',
            browserId = 'WXbuYGifT8w',
            criteria = '3:/subject/26794435/comments?start=440&amp;limit=20&amp;sort=new_score&amp;status=P',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_comments_bottom_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/YXhxazN0ei9mL2FkanMvN2JmMDcyOGVlOGJjNGNlNWRkZTkxNjk2NTA4YmMxOTMzOTdiOGNjZS9hZC5yZWxlYXNlLmpz');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- fram25-docker-->

  <script>_SPLITTEST=''</script>





<div id="search_suggest" style="display: none; top: 78px; left: 162.4px;"><ul></ul></div></body></html>