<html lang="zh-cmn-Hans" class="ua-windows ua-webkit"><head><script src="https://www.douban.com/j/doumail/num?callback=jsonp_cy4vfx2wia9nh9t" async=""></script><script src="https://www.douban.com/j/notification/num?callback=jsonp_tzpuqjivk5scq5m" async=""></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw">
    <title>

哪吒之魔童降世 短评
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="哪吒之魔童降世,影讯,排片,放映时间,电影票价,在线购票">
    <meta name="description" content="哪吒之魔童降世短评">
    <meta name="mobile-agent" content="format=html5; url=http://m.douban.com/movie/subject/26794435/comments">
    <script type="text/javascript" defer="" async="" src="https://img3.doubanio.com/dae/fundin/piwik.js"></script><script type="text/javascript" src="//img1.doubanio.com/YXhxazN0ei9mL2FkanMvN2JmMDcyOGVlOGJjNGNlNWRkZTkxNjk2NTA4YmMxOTMzOTdiOGNjZS9hZC5yZWxlYXNlLmpz" async="true"></script><script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/52c9997d6d42db58eab418e976a14d5f3eff981e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/1316664523258f7b8b536e4ce45afc9cb37b8963/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/27219466152855d9.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
<script src="https://ssl.google-analytics.com/ga.js" async="true"></script></head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>守护兽兽的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&amp;ck=AXRF">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;203701160&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;203701160&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;203701160&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;203701160&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;203701160&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;203701160&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm/?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;203701160&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com/?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;203701160&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com/?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆品</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;203701160&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "203701160",
    UPLOAD_AUTH_TOKEN: "203701160:2199e65e46c0721346a53a0f92cd51bc26d188c1",
    SSE_TOKEN: "4795fca428570e13059c50f2ce57ca8fc1074ecf",
    SSE_TIMESTAMP: "1568259386",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https://movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https://movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value="" autocomplete="off"></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002">
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li><a href="https://movie.douban.com/mine">我看</a>
    </li>
    <li><a href="https://movie.douban.com/cinema/nowplaying/">影讯&amp;购票</a>
    </li>
    <li><a href="https://movie.douban.com/explore">选电影</a>
    </li>
    <li><a href="https://movie.douban.com/tv/">电视剧</a>
    </li>
    <li><a href="https://movie.douban.com/chart">排行榜</a>
    </li>
    <li><a href="https://movie.douban.com/tag/">分类</a>
    </li>
    <li><a href="https://movie.douban.com/review/best/">影评</a>
    </li>
    <li><a href="https://movie.douban.com/annual/2018?source=navigation">2018年度榜单</a>
    </li>
    <li><a href="https://www.douban.com/standbyme/2018?source=navigation">2018书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2018?source=movie_navigation" class="movieannual2018"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/2f48733/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>哪吒之魔童降世 短评</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    



<div class="clearfix Comments-hd">
    <ul class="fleft CommentTabs">
            <li class="is-active">
                <span>看过(363636)</span>
            </li>

            <li>
                <a href="?status=F">想看(11162)</a>
            </li>
    </ul>
    <div class="fright">
        
        <a href="javascript:;" class="comment_btn j a_collect_btn" name="cbtn-26794435">我来写短评</a>
    </div>
</div>

    
    
    <div class="title_line clearfix color_gray">
        <div class="fleft Comments-sortby">
                <span>热门</span>
                    <a href="?sort=time&amp;status=P">最新</a>
            <a href="follows_comments?status=P">好友</a>
        </div>
    </div>

    <div class="comment-filter">
        <label>
            <input type="radio" name="sort" value="" checked="checked"><span class="filter-name">全部</span><span class="comment-percent"></span>
        </label>
        <label>
            <input type="radio" name="sort" value="h"><span class="filter-name">好评</span><span class="comment-percent">85%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="m"><span class="filter-name">一般</span><span class="comment-percent">10%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="l"><span class="filter-name">差评</span><span class="comment-percent">5%</span>
        </label>
    </div>

    <div class="mod-bd" id="comments">
        







    
        
        <div class="comment-item" data-cid="1872208528">
            
    
        <div class="avatar">
            <a title="好姑娘老妖" href="https://www.douban.com/people/linulaoyao/">
                <img src="https://img3.doubanio.com/icon/u24111692-73.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">52</span>
                <input value="1872208528" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/linulaoyao/" class="">好姑娘老妖</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-23 17:39:59">
                    2019-07-23
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">哪吒是部很好的电影，
但是我看过更好的哪吒，
新版的差不多改编了整个故事，
从前的哪吒，反抗的是父权，是统治阶级，是所谓的优越感的天界权威。
现在的想哪吒，反抗的是虚幻的命运。
啥意思呢，就是好好听话，别折腾，你是谁，你有什么身份，都是天命所定。
真是非常主旋律的一部电影了。
所以我更喜欢那个自杀的哪吒，那个削骨还父，削肉还母的哪吒。
但是电影是不错的，推荐去看。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1867410555">
            
    
        <div class="avatar">
            <a title="Eureka A.O." href="https://www.douban.com/people/cheshirecat357/">
                <img src="https://img3.doubanio.com/icon/u42346331-10.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">82</span>
                <input value="1867410555" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/cheshirecat357/" class="">Eureka A.O.</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-20 11:29:18">
                    2019-07-20
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">精致，也抓人，但观感微妙。迪士尼拍出这个可以给五星，中国人不行，中国人知道哪吒到底是怎么回事，不管怎么感人，哪吒能给爹学背书吗？</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1869768980">
            
    
        <div class="avatar">
            <a title="河狸" href="https://www.douban.com/people/helizhanglao/">
                <img src="https://img1.doubanio.com/icon/u2228416-29.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">31</span>
                <input value="1869768980" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/helizhanglao/" class="">河狸</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-21 21:34:00">
                    2019-07-21
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">《绝代双骄之冰与火之歌》</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1880063721">
            
    
        <div class="avatar">
            <a title="肖浑" href="https://www.douban.com/people/xiaojia86/">
                <img src="https://img3.doubanio.com/icon/u1387717-143.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">30</span>
                <input value="1880063721" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/xiaojia86/" class="">肖浑</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-28 21:45:08">
                    2019-07-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">技术优秀，部分细节精彩，但故事整体并没有打动我，外部堆砌了太多花里胡哨的元素，偏偏主角自身的成长变化不够，亲子和友谊两段重要关系竟然都是靠反反复复踢毽子传达，“哪吒闹海”成“哪吒为毽狂”了。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1877379101">
            
    
        <div class="avatar">
            <a title="我对你的无语简直能沉默整个宇宙" href="https://www.douban.com/people/drleesilentnigh/">
                <img src="https://img1.doubanio.com/icon/u1115813-149.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">75</span>
                <input value="1877379101" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/drleesilentnigh/" class="">我对你的无语简直能沉默整个宇宙</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-27 11:26:14">
                    2019-07-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">技术上很成熟了但是…</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1915374155">
            
    
        <div class="avatar">
            <a title="焚紙樓" href="https://www.douban.com/people/80722428/">
                <img src="https://img3.doubanio.com/icon/u80722428-35.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">27</span>
                <input value="1915374155" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/80722428/" class="">焚紙樓</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-08-19 01:12:15">
                    2019-08-19
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">兩星半。價值觀的偷渡。鼻屎怪的上岸覓食證明了妖怪會吃人，光是這點就讓妖族人族之分不可能僅止於哪吒以為的種族歧視那般簡單，而是赤裸裸的種族食物鏈之爭；而哪吒源於魔丸這個新設定讓他的叛逆僅止於罹患了超常力量的ADHD，父母之命和自我追求矛盾的傳統命題則被拔去扔到男二敖丙身上，也讓哪吒的片尾說教不免有種站著說話不腰疼的偽清高。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1878208907">
            
    
        <div class="avatar">
            <a title="樹" href="https://www.douban.com/people/58856070/">
                <img src="https://img1.doubanio.com/icon/u58856070-148.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">52</span>
                <input value="1878208907" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/58856070/" class="">樹</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-27 20:59:57">
                    2019-07-27
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">“作为新晋的国产动画旗手，我们希望新晋的黑马不止于利用好莱坞式的叙事方式来讲述东方神话，而是希望它可以在主题、在美学、在技术上有更加深入的开拓和探索，而不仅仅只是传达单一讯号——我们和好莱坞的差距，正越来越小。”</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1891851624">
            
    
        <div class="avatar">
            <a title="千鸟欢喜天" href="https://www.douban.com/people/46420878/">
                <img src="https://img1.doubanio.com/icon/u46420878-157.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">48</span>
                <input value="1891851624" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/46420878/" class="">千鸟欢喜天</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-08-05 09:39:46">
                    2019-08-05
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">特别难过，如果是普通的动画片做成这样，肯定给五星的了，可惜是哪吒。哪吒是非常罕见的反抗君权父权的古典题材，现在突然又变成歌颂父权（爸爸瞒着你做了XX实际是为了你好）的东西，彷佛心底的一颗明珠被挖出来打扮得花枝招展再放点屎屁尿去接客一样。我能明白当年悲壮震撼的哪吒脑海不可能再重制上映，即使上映了也会被父母投诉到死，只是。。。单纯很难过而已。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1889689134">
            
    
        <div class="avatar">
            <a title="[已注销]" href="https://www.douban.com/people/aleckplayer/">
                <img src="https://img1.doubanio.com/icon/u1539280-379.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">34</span>
                <input value="1889689134" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/aleckplayer/" class="">[已注销]</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-08-03 22:38:21">
                    2019-08-03
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">1、制作是精良的，电影工业是有长进的，
2、剧本的内核是媚俗的。阉割了“削肉还母，剔骨还父”的反叛精神，替换成“父慈子孝”、”用爱挨雷劈“的”正能量叙事“。这样一来，哪吒已经不是哪吒，而是一位成功接受思想改造的优秀少先队员。
3、对白大多是用段子堆砌起来的，未免单薄。致敬星爷的那部分也略显刻意。
4、看来”空手接白刃“已成为李靖的默认技能。
5、李夫人管哪吒叫”吒儿“，置金吒、木吒于何地？应该管哪吒叫”哪儿“……
P.S. 温馨提示一下：最后一个彩蛋不必等。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1872405587">
            
    
        <div class="avatar">
            <a title="Mr. Infamous" href="https://www.douban.com/people/misterinfamous/">
                <img src="https://img3.doubanio.com/icon/u49948621-34.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">39</span>
                <input value="1872405587" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/misterinfamous/" class="">Mr. Infamous</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-23 20:42:53">
                    2019-07-23
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">三岁的哪吒，丧得比谁都通透。悲观该是比万龙麟甲更坚硬的武装，可在命定的天雷下，又有几个异类能够保得住肉身呢？主流社会偏颇、盲从、暴戾的酸民多得叫人烦躁、绝望，成魔成仙却偏要被他们的眼白决定，那马后炮的原谅与膜拜真是既可耻又可悲。凭什么让他们眼中的怪物去拼死拯救丑陋的苍生，还要接受廉价的感恩？！难过，于是对两个“怪物”的交情、独揽命运的悲壮，格外动容。很爱人物关系的新编，连带着流俗的梗，也没那么抵触（这样说不代表这些梗就是好的，只能说迎合下沉需求，却背离了整体大气），可在一个反击偏见的电影里，那位壮汉是否被当作偏见的祭品了呢？不过，还是愿意顶一下哪吒，于动画、于传奇，有许多突破的价值。这曲冰与火之歌后，期待封神宇宙。四星半。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1880846675">
            
    
        <div class="avatar">
            <a title="UrthónaD'Mors" href="https://www.douban.com/people/HiddenParadise/">
                <img src="https://img1.doubanio.com/icon/u1793566-1867.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">31</span>
                <input value="1880846675" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/HiddenParadise/" class="">UrthónaD'Mors</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-29 11:42:15">
                    2019-07-29
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">命不由天的概念是好的…但还是有瑕疵太接地气了还有这给孩子看真的好吗？妥妥培养出毁天灭地型熊孩子</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1876657936">
            
    
        <div class="avatar">
            <a title="塔塔君Minkun" href="https://www.douban.com/people/tatakun/">
                <img src="https://img3.doubanio.com/icon/u108166875-12.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">84</span>
                <input value="1876657936" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/tatakun/" class="">塔塔君Minkun</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-07-26 21:48:56">
                    2019-07-26
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">彩条屋这些动画能不能少点浮夸，多点基本功？闹心。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1880809140">
            
    
        <div class="avatar">
            <a title="李小毛" href="https://www.douban.com/people/sumomojean/">
                <img src="https://img3.doubanio.com/icon/u1776318-11.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">38</span>
                <input value="1880809140" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/sumomojean/" class="">李小毛</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-29 11:14:26">
                    2019-07-29
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">3星半吧。故事是全须全尾讲完了，燃的地方也能带动情绪，但为爹奋战真的不能接受……另外打完全村忽然单膝跪地嘿，这时候就很感谢复联4的导演把所有人朝着钢铁侠单膝跪地的一组镜头弃用了。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1878763023">
            
    
        <div class="avatar">
            <a title="過期罐頭" href="https://www.douban.com/people/4627124/">
                <img src="https://img3.doubanio.com/icon/u4627124-21.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">98</span>
                <input value="1878763023" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/4627124/" class="">過期罐頭</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-07-28 03:04:11">
                    2019-07-28
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">网络段子对本片的伤害是巨大的，除此之外，这片到底想说啥呢。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1856291362">
            
    
        <div class="avatar">
            <a title="王俊俊" href="https://www.douban.com/people/57604339/">
                <img src="https://img1.doubanio.com/icon/u57604339-8.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">49</span>
                <input value="1856291362" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/57604339/" class="">王俊俊</a>
                    <span>看过</span>
                    <span class="allstar50 rating" title="力荐"></span>
                <span class="comment-time " title="2019-07-20 20:13:33">
                    2019-07-20
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">主创有才华，陈词滥调的神话故事也能拍的圆润饱满，有血有肉；导演没审美，再多投资，再好的题材，再大牌的明星资源，拍出来也让人皱眉，只能靠着争议性，话题性哄骗观众的钱，然后安慰自己，赚到就是成功的。万马齐喑究可哀，中国一直不缺有才华有实力有心思的创作者，缺的是机会，是社会资源的不公平分配。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1868738217">
            
    
        <div class="avatar">
            <a title="小刘" href="https://www.douban.com/people/paradoxivy/">
                <img src="https://img3.doubanio.com/icon/u52510151-234.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">32</span>
                <input value="1868738217" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/paradoxivy/" class="">小刘</a>
                    <span>看过</span>
                <span class="comment-time " title="2019-07-21 08:59:01">
                    2019-07-21
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">虽然这部电影的本意不在此，可是李靖和哪吒之间改成了和谐美满的父子关系，这故事原有的基调差不多就等于是毁了——当然，你可以说，就是想走出老版那种阴沉基调讲一个全新的美式的对抗众人刻板偏见的青春成长电影。（但是西皮还是可以磕一磕</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1860288362">
            
    
        <div class="avatar">
            <a title="德卡的羊" href="https://www.douban.com/people/146177041/">
                <img src="https://img3.doubanio.com/icon/u146177041-46.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">50</span>
                <input value="1860288362" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/146177041/" class="">德卡的羊</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-16 21:13:08">
                    2019-07-16
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">80/100，确实是惊艳！技术上是绝对的国漫新巅峰。完全建立于现代语境，用相当戏谑大胆的颠覆与重构，情节与人物焕然一新，让经典传说重现光辉。虽然内在主题“成见”和做自己之类的很俗套了，但所幸讲述的足够有趣。最厉害的是依旧无人逃的出这宿命魔掌，妖还是人都不行，最深处依旧足够悲壮。笑点够好笑，同时还能赚到我的眼泪。唯一问题是人物转折的铺垫还不够充分，有些突然，但跟惊艳的整体比，属于小问题了。</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1889066739">
            
    
        <div class="avatar">
            <a title="Ou" href="https://www.douban.com/people/kidneytopo/">
                <img src="https://img1.doubanio.com/icon/u1971540-18.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">21</span>
                <input value="1889066739" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/kidneytopo/" class="">Ou</a>
                    <span>看过</span>
                    <span class="allstar30 rating" title="还行"></span>
                <span class="comment-time " title="2019-08-03 15:56:18">
                    2019-08-03
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">分镜和大概念都挺漂亮的。比较可惜的是，最关键的地方被“两年后”给略过去了。哪吒本应自觉触摸自己的魔丸/灵珠两面性，形成自己人格。现在变成了指哪打哪的无名火-小粉红。魔格由何而来？谁给了哪吒那样一把声音？贴了傀儡符的巫毒娃娃？因为人格建构的缺乏，电影最后成了一场大型祈雨祭祀。现象中小粉红和大冰蓝的合一什么时候才能实现？</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1884411893">
            
    
        <div class="avatar">
            <a title="汝就做吾的犬吧" href="https://www.douban.com/people/nadesico/">
                <img src="https://img3.doubanio.com/icon/u2154137-115.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">56</span>
                <input value="1884411893" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/nadesico/" class="">汝就做吾的犬吧</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2019-07-31 16:23:12">
                    2019-07-31
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">确实这代技术团队比《大圣归来》进步了不少，但是这片除了建模技术和配音演员很敬业就真的没啥了，大段大段堆出戏的流行元素，表达的思想都是喊口号一样直白、反复的摆在台面上强调，角色性格全都是为了迎合那些“看个热闹”的观众在耍帅、卖惨，如果接下来要拍《封神榜》的续作还请换个导演和编剧吧，我不抵触改动，但我打心底里不喜欢为了迎合、为了时尚、为了“热闹”的这种改动，《大圣归来》给中国电影动画开了个好头，我不想此之后的动画又倒退回以前那样“只要看个开心就好”</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>
        
        <div class="comment-item" data-cid="1872427885">
            
    
        <div class="avatar">
            <a title="隔壁山田" href="https://www.douban.com/people/vitaminJ/">
                <img src="https://img3.doubanio.com/icon/u58001384-133.jpg" class="">
            </a>
        </div>
    <div class="comment">
        <h3>
            <span class="comment-vote">
                <span class="votes">26</span>
                <input value="1872427885" type="hidden">
                <a href="javascript:;" class="j a_vote_comment" onclick="">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/vitaminJ/" class="">隔壁山田</a>
                    <span>看过</span>
                    <span class="allstar40 rating" title="推荐"></span>
                <span class="comment-time " title="2019-07-23 21:02:07">
                    2019-07-23
                </span>
            </span>
        </h3>
        <p class="">
            
                <span class="short">技术完美。但我觉得“哪吒”是一个“我不要”“还给你”的人物，而不是吒儿这样和解、回归、圆满的角色……</span>
        </p>
    <div class="comment-report"><a rel="nofollow" href="javascript:void(0)">举报</a></div></div>

        </div>






        <div id="paginator" class="center">
                <a href="?start=0&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="1">&lt;&lt; 首页</a>
                <a href="?start=159&amp;limit=-20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="">&lt; 前页</a>
                <a href="?start=180&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="" class="next">后页 &gt;</a>
        </div>



<script type="text/javascript" src="https://img3.doubanio.com/f/shire/a14501790b4a2db257dc5be5e37d820e600703c6/js/report_dialog.js"></script>
<link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/b45aa277f8b8df40596b96582dafb1ed0a899a64/css/report_dialog.css">




        
        
    </div>

            </div>
            <div class="aside">
                

    
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/26794435/">去 哪吒之魔童降世 的页面</a></p>

    <div class="indent">
        









<div class="movie-summary">
        <div class="movie-pic"><a href="https://movie.douban.com/subject/26794435/"><img alt="哪吒之魔童降世" title="哪吒之魔童降世" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2563780504.webp" rel="v:image" width="100px"></a></div>
    <span class="attrs">
        
            
        <p>
            <span class="pl">导演:</span>
                <a href="https://movie.douban.com/celebrity/1328441/">饺子</a>
        </p>

        
            
        <p>
            <span class="pl">主演:</span>
                <a href="https://movie.douban.com/celebrity/1419996/">吕艳婷</a> / <a href="https://movie.douban.com/celebrity/1400125/">囧森瑟夫</a> / <a href="https://movie.douban.com/celebrity/1400124/">瀚墨</a> / <a href="https://movie.douban.com/celebrity/1329520/">陈浩</a> / <a href="https://movie.douban.com/celebrity/1372724/">绿绮</a> / <a href="https://movie.douban.com/celebrity/1420051/">张珈铭</a> / <a href="https://movie.douban.com/celebrity/1419997/">杨卫</a> / <a href="https://movie.douban.com/celebrity/1420965/">何禹祥</a> / <a href="https://movie.douban.com/celebrity/1420966/">任俊鹏</a> / <a href="https://movie.douban.com/celebrity/1422645/">刘霖竺</a> / <a href="https://movie.douban.com/celebrity/1422644/">大海</a> / <a href="https://movie.douban.com/celebrity/1422643/">陶渊</a> / <a href="https://movie.douban.com/celebrity/1422039/">李南</a> / <a href="https://movie.douban.com/celebrity/1421280/">杏林儿</a> / <a href="https://movie.douban.com/celebrity/1422697/">雨辰</a>
        </p>

        
            
        <p>
            <span class="pl">类型:</span>
                剧情, 喜剧, 动画, 奇幻
        </p>

        
            
        <p>
            <span class="pl">地区:</span>
                中国大陆
        </p>

        
            
        <p>
            <span class="pl">片长:</span>
                110分钟
        </p>

        
            
        <p>
            <span class="pl">上映:</span>
                2019-07-13(大规模点映), 2019-07-26(中国大陆)
        </p>

        <a class="trail_link" data-trailer-id="250477" href="https://movie.douban.com/trailer/250477/#content">预告片</a>
    </span>
</div>



    </div>
    <div id="dale_movie_subject_comments_bottom_right" ad-status="loaded"></div>
    <a href="https://help.douban.com/blackroom">&gt; 豆瓣违规公示</a>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    © 2005－2019 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/173eb3b0beef157d.js"></script>
    
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '203701160',
            browserId = 'WXbuYGifT8w',
            criteria = '3:/subject/26794435/comments?start=160&amp;limit=20&amp;sort=new_score&amp;status=P',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_comments_bottom_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/YXhxazN0ei9mL2FkanMvN2JmMDcyOGVlOGJjNGNlNWRkZTkxNjk2NTA4YmMxOTMzOTdiOGNjZS9hZC5yZWxlYXNlLmpz');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- fram58-docker-->

  <script>_SPLITTEST=''</script>





<div id="search_suggest" style="display: none; top: 78px; left: 162.4px;"><ul></ul></div></body></html>